   <!-- Button to trigger modal -->
{% load admin_static %}
    <a href="/feedback/#betaModal" role="button" class="btn btn-inverse" style=" position: fixed; top: calc(55% - 6rem)" data-toggle="modal">
        <img src="{% static "images/boton_soporte_tecnico.png" %}">
    </a>

<div id="betaModal" class="modal hide fade">
    <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>¿Cómo podemos ayudarle?</h3>
    </div>

<div class="modal-body">
    <div class="row-fluid">
        <div class="span12">
            <div class="span6">
                
                    
                <form method="post" class="form-horizontal" action={% url "comentario" %}>
                    {% csrf_token %}
                    <input type=hidden name="url" value={{ request.path }}>

                    <p class="help-block">Pregunta</p>
                    <div class="input-prepend">
                        <span class="add-on">?</span>
                        <input class='prependedInput' placeholder='breve descripción' type=text name="pregunta" size=16 required='required'>
                    </div>

                    <p class="help-block">Nombre</p>
                    <div class="input-prepend">
                        <span class="add-on">*</span>
                        {% if request.user.is_authenticated %}
                            <input type=text name="nombre" class="prependedInput" required="required" placeholder="nombre apellido" size=16 value="{{ request.user.profile.persona.primer_nombre }} {{ request.user.profile.persona.primer_apellido }} ">
                        {% else %}
                            <input type=text name="nombre" class="prependedInput" required="required" placeholder="nombre apellido" size=16>
                        {% endif %}
                    </div>


                    <p class="help-block">Correo</p>
                    <div class="input-prepend">
                        <span class="add-on">@</span>
                        {% if request.user.is_authenticated %}
                            <input type=email name="correo" class="prependedInput" required="required" placeholder="usuario@correo.com" size=16 value="{{ request.user.email }}">

                        {% else %}
                            <input type=email name="correo" class="prependedInput" required="required" placeholder="usuario@correo.com" size=16>
                        {% endif %}
                    </div>

                    <hr>
                        <input type=file name="archivo" class="prependedInput" required="required" placeholder="usuario@correo.com" size=16>
                
            </div>
            <div class="span6">

            <textarea name="comentario" class="text" required="required" placeholder="Escriba aquí los detalles, sugerencias o comentarios. Por favor, sea lo más específico posible.
" style="width:230px; height:230px"></textarea>
            
            </div>
        </div>
    </div>
</div>
    <div class="modal-footer">
        <div class="help-block pull-right">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            <button  type="submit" class="btn btn-primary" aria-hidden="true">Enviar</button>
        </div>
    </div>
</div>
    
</form>
