   <!-- Button to trigger modal -->
{% load admin_static %}
    <a href="{% url "feedback" %}" role="button" class="btn btn-inverse" style=" position: fixed; top: calc(55% - 6rem)" data-toggle="modal">
    <!--<a href="/feedback/#betaModal" role="button" class="btn btn-inverse" style=" position: fixed; top: calc(55% - 6rem)" data-toggle="modal">-->
        <img src="{% static "images/boton_soporte_tecnico.png" %}">
    </a>

<div id="betaModal" class="modal hide fade">
    <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>¿Cómo podemos ayudarle?</h3>
    </div>

<div class="modal-body">
    <div class="row-fluid">
        <div class="span12">
            <div class="span6">
                
                    
                <form method="post" class="form-horizontal" >
                    {% csrf_token %}

                    <p class="help-block">Pregunta</p>
                    <div class="input-prepend">
                        <span class="add-on">?</span>
                        {{ feedback_form.pregunta }}
                    </div>

                    <p class="help-block">Nombre</p>
                    <div class="input-prepend">
                        <span class="add-on">*</span>
                        {{ feedback_form.nombre }}
                    </div>


                    <p class="help-block">Correo</p>
                    <div class="input-prepend">
                        <span class="add-on">@</span>
                        {{ feedback_form.correo }}

                    </div>


                    <hr>
                    <div class="help-block pull-right">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                        <button  type="submit" class="btn btn-primary" aria-hidden="true">Enviar</button>
                    </div>
                
            </div>
            <div class="span6">

            {{ feedback_form.comentario }}
            
            </div>
            </form>
        </div>
    </div>
</div>
    <div class="modal-footer">
        <p><i>{{fecha}}</i></p>
    </div>
</div>
    
