<footer id="pie" >

    <div class="footer modal-footer">
        <div class="row text-center">
            <div class="container">
                <div class="span1">
                    <br />
                </div>
                <div class="span2 text-left">
                    <address>
                        <strong>Institución</strong><br>
                        <a id="link" href="http://www.unerg.edu.ve/">
                            Sitio web
                        </a>
                        <br />
                        <a id="link" href="http://www.unerg.edu.ve/index.php?option=com_content&task=view&id=12&Itemid=210">
                            Historia
                        </a>
                        <br />
                        <a id="link" href="http://www.unerg.edu.ve/index.php?option=com_content&task=view&id=378&Itemid=211">
                            Autoridades
                        </a>
                        <br />
                        <a id="link" href="http://www.unerg.edu.ve/index.php?option=com_content&task=view&id=13&Itemid=212">
                            Reglamentos
                        </a>
                        <br />
                        <a id="link" href="http://www.unerg.edu.ve/index.php?option=com_content&task=view&id=18&Itemid=213">
                            Servicios
                        </a>
                        <br />
                        <a id="link" href="http://unerg.edu.ve/vacademico/">
                            Vicerrectorado académico
                        </a>
                        <br />
                    </address>
                    <address>
                        <strong>Ventajas</strong><br />
                        <a id="link">Minimización de recursos</a><br />
                        <a id="link">Control de la información</a><br />
                        <a id="link">Eficiencia</a><br />
                        <a id="link">Información segura</a><br />
                    </address>
                </div>
                <div class="span2 text-left">
                    <address>
                        <strong>Descripción</strong><br />
                        <a id="link">Envío y recepción de memorándum</a><br />
                        <a id="link">Aprobación y rechazo de comunicaciones</a><br />
                        <a id="link">Lista de contactos completa y segura</a><br />
                        <a id="link">Sin necesidad de internet</a><br />
                        <a id="link">Libros auditables al instante</a><br />
                        <a id="link">Descarga de memorándum y libro auditable en PDF</a><br />
                    </address>
                </div>
                <div class="span2 text-left">
                    <address>
                        <strong>Soporte</strong><br />
                        <a id="link" href="https://bitbucket.org/F0rY/umail/wiki/">Documentación de Umail</a><br />
                        <a id="link" href="https://bitbucket.org/F0rY/umail/issues?status=new&status=open">Reporta fallas</a><br />
                        <a id="link" href="{% url 'manual_usuario' %}">Manual de usuario</a><br />
                        <a id="link" href="https://bitbucket.org/F0rY/umail/src">Código fuente</a><br />
                        <a id="link" href="http://opensource.org/licenses/GPL-3.0">Licencia</a><br />
                    </address>
                    <address>
                        <strong>Desarrolladores</strong><br />
                        <a id="link" href="http://about.me/axelio">Axelio</a><br />
                        <a id="link" href="http://about.me/f0ry">F0rY</a><br />
                    </address>
                </div>
                <div class="span3 text-left">
                    <address>
                        <strong>Detalles de contacto</strong><br>
                        <a id="link" href="mailto:webmaster@unerg.edu.ve"><i class="icon-envelope icon-white"></i> webmaster@unerg.edu.ve</a><br />
                        <a id="link" href="https://twitter.com/UNERGWEB"><i class="icon-twitter icon-white"></i> @UNERGWEB</a><br />
                        <a id="link" href="https://www.facebook.com/UNERG.OFICIAL"><i class="icon-facebook icon-white"></i> UNERG</a><br /> 
                    </address>

                </div>
            </div>
        </div>
    </div>
</footer>
