<!DOCTYPE html>
<html>
<head>
{% include "user/base.html" %} 
{% load admin_static %}
{% load i18n %}
<title>Inicio</title>
<meta charset="utf-8">




                        <style type="text/css">
                        @media print { #djDebug {display:none;}}
                        </style>
                        <link rel="stylesheet" href="{{ STATIC_URL }}css/toolbar.css" type="text/css">
                        <script type="text/javascript" src="{{ STATIC_URL }}js/toolbar.min.js"></script>
                        <div id="djDebug" style="display:none;" dir="ltr">
                            <div style="display:none;" id="djDebugToolbar">
                                <a title="Enviar un comentario" id="abrir_ventana" href"/">Abrir menú&laquo;</a>
        <a id="abrir_ventana" href="javascript:void(0);"> Abrir ventana </a>
                            </div>
                        </div>

        <style type="text/css">
            /* Estilos del div que se tendrá la función de ocultar el contenido del sitio para dejar mostrarse a la ventana emergente */
            .bloquer {width: 100%; height: 100%; left: 0px; top: 0px; background-color: #000; position: fixed;}
            /* Estilo de la ventana emergente. La misma podés editarla, pero no quites el atributo position: fixed. */
            .ventana_emergente {position: fixed; width: 300px; height: 300px; border: solid 1px #c1cdc1; background-color: #fff;}
            /* Tanto la ventana emrgente como el bloqer estarán ocultos hasta que se dispare la función que los visualice */
            .bloquer, .ventana_emergente {display: none;}
        </style>
       
        <!-- Importación de la librería de jquery. -->
        <script type="text/javascript" src="{{ static }}js/jquery.min.js"></script>
       
        <script type="text/javascript">
           
            //Esta función será la encargada de mostrar la ventana emergente. Recibirá como parámetro el id ("#nombre_del_id") de la ventana emergente.
            function abrirVentanaPopUp(identificacion){
                $(".bloquer").css('z-index', '998');
                $(".bloquer").css('opacity', '0.5');                
                $(".bloquer").fadeIn(500);
                var w = $(window).width();
                var h = $(window).height();
                var divW = $(identificacion).width();
                var divH = $(identificacion).height();
                $(identificacion).css('left', (w/2)-(divW / 2)+"px");
                $(identificacion).css('top', (h/2)-(divH / 2)+"px");
                $(identificacion).css('z-index', '999');
                $(identificacion).css('opacity', '1.0');
                $(identificacion).fadeIn(500);
                $(".cerrar_emergente").click(function(){
                    $(identificacion).css('display', 'none');
                    $(".bloquer").css('display', 'none'); 
                });
            }
           
            $(document).ready(function(){
                $("#abrir_ventana").click(function(){
                    // Acá se llama a la función nombrada anteriormente.
                    abrirVentanaPopUp("#ventana_emergente");
                });
            });
           
        </script>
        <!-- Este link será el que al presionarse mostrará por pantalla la ventana emergente. -->
        <a id="abrir_ventana" href="javascript:void(0);"> Abrir ventana </a>
       
        <!-- Este div no tendría contenido ya que su única función será ocultar la página para dejarse ver a la ventana emergente. -->
        <div class="bloquer"></div>
       
        <!-- Ventana emergente.-->
        <div id="ventana_emergente" class="ventana_emergente">
            <p> Hola soy una ventana popup! </p>
            <!-- Al presionarse este link se cerrará la ventana emergente. -->
            <a class="cerrar_emergente" href="javascript:void(0);"> Cerrar </a>
        </div> 














<script type="text/javascript" src="{% static "js/cufon-yui.js" %}"></script>
<script type="text/javascript" src="{% static "js/cufon-replace.js" %}"></script>  
<script type="text/javascript" src="{% static "js/Copse_400.font.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.nivo.slider.pack.js" %}"></script>
<script type="text/javascript" src="{% static "js/imagepreloader.js" %}"></script>
<script type="text/javascript">
	preloadImages([
	'/static/images/menu1_active.gif',
	'/static/images/menu2_active.gif',
	'/static/images/menu3_active.gif',
	'/static/images/menu4_active.gif',
	'/static/images/marker_right_active.jpg',
	'/static/images/marker_left_active.jpg',
	'/static/images/menu5_active.gif']);
</script>
<!--[if lt IE 9]>
	<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
	<div class="body2">
		<div class="main">
<!-- header -->
			<header>
                {% include "user/banner.html" %}
				<nav id="menu">
					<ul>
                        {% load menu %}
                        {{ 'Memos'|menu }}
					</ul>
				</nav>
			</header>
        </div>
	</div>
<!-- / header -->
<!-- content -->
	<div class="body5">
		<div class="body6" id="Menu">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="{% static "images/letter2.png" %}" alt=""></figure>
					<h2><span>Memorándums</span></h2>
                    Sección en la que puedes redactar, revisar la bandeja de entrada, bandeja de salida, memorándums aprobados, memorándums archivados, entre otros.
                    {% if mensaje %}
                        <span class="tooltip">{{ mensaje }}</span>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="body7">

        <!-- Menú azul superior -->
        <div class="body10">
            <div class="main">
                <table width=100%>
                    <tbody>
                        <tr align=center>
                            <td align=left width=25%>
                            </td>
                            <td align=left>
                            </td>
                            <td align=right width=25% valign="middle">
                                <div class="pagination">  
                                        <span class="step-links">
                                        {% if message_list.has_previous %}
                                            <a href="?page={{ message_list.previous_page_number }}">Anterior</a>
                                        {% endif %}

                                        <span class="current" style="color:white">
                                            Página {{ message_list.number }} de {{ message_list.paginator.num_pages }}.
                                        </span>

                                        {% if message_list.has_next %}
                                            <a href="?page={{ message_list.next_page_number }}">Siguiente</a>
                                        {% endif %}
                                    </span>
                                </div>	
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="main">
            <table width=100%>
                <tbody>
                    <tr align=center>
                        <td align=left width=25%>
                            <h2 color=white>
                                Emisor/Correo
                            </h2>
                        </td>
                        <td align=left>
                            <h2 color=white>
                                Asunto/Texto
                            </h2>
                        </td>
                        <td align=right width=25% valign="middle">
                            <h2 class="right" color=white>
                                Fecha y hora
                            </h2>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Fin menú azul superior -->

		<div class="main">
			<section id="content">
				<div class="col_1">
                    {% include "user/mensajes/menu.html" %}
				</div>
				<div class="col_4">
                    <div class="wrapper">
                        <article >
                            <ul class="list4">


                                <table width=100%>
                                    <tbody>
                            {% load disminuir %}
                            {% load inbox %}
                            {% for message in message_list %} 
                                    <tr align=center>
                                        <!-- Si el usuario no lo ha leído -->
                                        {% ifequal request|negrillas:message.id True %}

                                            <td align=left width=25%>
                                                    <li>
                                                        <strong>
                                                            <a href="{{message.get_absolute_url }}"> {{ message.sender }} </a>
                                                        </strong>
                                                        <br>
                                                        <small>
                                                            {{ message.sender.usuarios.user.email }}
                                                        </small>
                                                    </li>
                                            </td>

                                            <td align=left>
                                                    <li>
                                                        <strong>
                                                            <a href="{{message.get_absolute_url }}">{{ message.subject|disminuir_t:50 }}</a>
                                                        </strong>
                                                    <br />
                                                    <small>
                                                        {{ message.body|disminuir:50 }}
                                                    </small>
                                                    </li>
                                            </td>

                                            <td align=right width=25%>
                                                <li>
                                                    <strong>
                                                        <a href="{{message.get_absolute_url }}">
                                                            {{ message.sent_at|date:"D d M P" }}
                                                        </a>
                                                    </strong>
                                                    <br />
                                                    <small>
                                                        -
                                                    </small>
                                                </li>
                                            </td>

                                        {% else %}

                                            <td align=left width=25%>
                                                    <li> {{ message.sender }} <br> {{ message.sender.usuarios.user.email }}</li>
                                            </td>

                                            <td align=left>
                                                    <li><a href="{{message.get_absolute_url }}">{{ message.subject|disminuir_t:50 }}</a><br />
                                                    {{ message.body|disminuir:50 }}
                                                    </li>
                                            </td>

                                            <td align=right width=25%>
                                                <li><a href="{{message.get_absolute_url }}">{{ message.sent_at|date:"D d M P" }}</a><br />-</li>
                                            </td>

                                        {% endifequal %}
                                    </tr>
                            {% endfor %}
                                    </tbody>
                                </table>

                            </ul>
                        </article>

                    </div>
                </div>
			</section>
		</div>
	</div>
			<!-- / content -->
            {% include "user/pie.html" %}
            <>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<script type="text/javascript">
	$(window).load(function() {
	$('#slider').nivoSlider({
        effect:'sliceDown', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft'    
        slices:20,
        animSpeed:300,
        pauseTime:9999999999,
        startSlide:0, //Set starting Slide (0 index)
        directionNav:true, //Next & Prev
        directionNavHide:false, //Only show on hover
        controlNav:false, //1,2,3...
        controlNavThumbs:false, //Use thumbnails for Control Nav
        controlNavThumbsFromRel:false, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav:true, //Use left & right arrows
        pauseOnHover:true, //Stop animation while hovering
        manualAdvance:false, //Force manual transitions
        captionOpacity:1, //Universal caption opacity
        beforeChange: function(){},
        afterChange: function(){},
        slideshowEnd: function(){} //Triggers after all slides have been shown
    });
    });
</script>
</body>
</html>

