{% include "user/base.html" %} 
{% load i18n %} 
<!-- Banner -->
{% include "user/banner.html" %}

    <!-- Umail info -->
{% include "user/umail_info.html" %}
{% if loggeado %}

    <!-- Menú -->
        <div id="menu_wrapper">    
            <div id="menu">
                <ul>
                    <li><a href="/"><span></span>Inicio</a></li>
                    <li><a href="/entrada" class="current"><span></span>Recibidos</a></li>
                    <li><a href="#"><span></span>Projects</a></li>
                    <li><a href="#"><span></span>Partners</a></li>
                    <li><a href="/noticias"><span></span>Noticias</a></li>
                    <li><a href="#"><span></span>Contact</a></li>
                </ul>    	
            </div> <!-- end of menu -->
        </div> <!-- end of menu wrapper -->

        <!-- Menú mensajes -->
    <div id="content">

        {% include "user/mensajes/menu.html" %}

        <div id="content_right">
        <div class="cleaner">&nbsp;</div>

            <!-- Fin menú mensajes -->

            <div id="content_wrapper">
            <div id="content">
                {% block content %}
                <h1>{% trans "View Message" %}</h1>
                <dl class="message-headers">
                    <dt>{% trans "Subject" %}</dt>
                    <dd><strong>{{ message.subject }}</strong></dd>
                    <dt>{% trans "Sender" %}</dt>
                    <dd>{{ message.sender }}</dd>
                    <dt>{% trans "Date" %} </dt>
                    <dd>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</dd>
                    <dt>{% trans "Recipient" %}(s)</dt>
                    {% for destin in message.recipient.get_query_set %}
                        <dt>{{ destin }}</dt>
                    {% endfor %}
                </dl>

                <dd>{{ message.body.labels }}</dd>
                {{ message.body|linebreaksbr }}<br /><br />

                {% for dest in message.recipient.get_query_set %}
                    {% ifequal dest.pk user.pk %}
                        <a href="{% url 'messages_reply' message.id %}">{% trans "Reply" %}</a>
                    {% endifequal %}
                {% endfor %}
                <a href="{% url 'messages_delete' message.id %}">{% trans "Delete" %}</a>
                {% endblock %}

                <div class="margin_bottom_20"></div>
                <div class="cleaner"></div>
                
            </div>   <!-- FIN DE NOTICIAS -->
                

        <div class="cleaner">&nbsp;</div>

        </div> <!-- end of content -->
        </div> <!-- end of content wrapper -->
        </div> <!-- end of content right -->
{% endif %}


<div id="footer_wrapper">        
    <div id="footer">
        Copyright © <a href="https://github.com/Axelio/umail/blob/master/copyright">Umail</a> | 
    </div><!-- end of footer -->
</div><!-- end of footer wrapper -->
</body>






