<!DOCTYPE html>
<html>
<head>
{% include "user/base.html" %} 
{% load admin_static %}
{% load i18n %}
<title>Inicio</title>
<meta charset="utf-8">






<script type="text/javascript" src="{% static "js/cufon-yui.js" %}"></script>
<script type="text/javascript" src="{% static "js/cufon-replace.js" %}"></script>  
<script type="text/javascript" src="{% static "js/Copse_400.font.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.nivo.slider.pack.js" %}"></script>
<script type="text/javascript" src="{% static "js/imagepreloader.js" %}"></script>
<script type="text/javascript">
	preloadImages([
	'/static/images/menu1_active.gif',
	'/static/images/menu2_active.gif',
	'/static/images/menu3_active.gif',
	'/static/images/menu4_active.gif',
	'/static/images/marker_right_active.jpg',
	'/static/images/marker_left_active.jpg',
	'/static/images/menu5_active.gif']);
</script>
<!--[if lt IE 9]>
	<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
	<div class="body2">
		<div class="main">
<!-- header -->
			<header>
                {% include "user/banner.html" %}
				<nav id="menu">
					<ul>
                        {% load menu %}
                        {{ 'Memos'|menu }}
					</ul>
				</nav>
			</header>
        </div>
	</div>
<!-- / header -->
<!-- content -->
	<div class="body5">
		<div class="body6" id="Menu">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="{% static "images/letter1.png" %}" alt=""></figure>
					<h2><span>Memorándums</span></h2>
                    Sección en la que puedes redactar, revisar la bandeja de entrada, bandeja de salida, memorándums aprobados, memorándums archivados, entre otros.
				</div>
			</div>
		</div>
	</div>
	<div class="body7">

        <!-- Menú azul superior -->
        <div class="body10">
            <div class="main">
                            <table width=100%>
                                <tbody>
                                    <tr align=center>
                                        <td align=left width=25%>
                                        </td>
                                        <td align=left>
                                        </td>
                                        <td align=right width=25% valign="middle">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
            </div>
        </div>

		<div class="main">
			<section id="content">
				<div class="col_1">
                    {% include "user/mensajes/menu.html" %}
				</div>
				<div class="col_4">
                    <div class="wrapper">
                        <div>
                            <div  class="wrapper">

                                {% block content %}
                                <table width=100%>
                                <tr>
                                <td rowspan="3" align=center>
                                     <img width=150px src="{% static "images/logo_unerg.png" %}" alt="">
                                </td>
                                    <td align=center>
                                        REPÚBLICA BOLIVARIANA DE VENEZUELA
                                    </td>
                                </tr>
                                <tr>
                                    <td align=center>
                                        MINISTERIO DEL PODER POPULAR PARA LA EDUCACIÓN SUPERIOR
                                    </td>
                                </tr>
                                <tr>
                                    <td align=center>
                                        UNIVERSIDAD "RÓMULO GALLEGOS"
                                    </td>
                                </tr>
                                    <table width=100%>
                                        <tbody>
                                            <tr>
                                                <td colspan=2>
                                                    {{ message.sender.usuarios.persona.cargo_principal.dependencia.dependencia.nivel }}.{{ message.sender.usuarios.persona.cargo_principal.dependencia.nivel }}.{{ message.sender.usuarios.persona.cargo_principal.dependencia.siglas }} - {{ message.id }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th align=left width=25%>
                                                    <div class="news_title">Para:</div>
                                                </th>
                                                <td width=75%>
                                                    {% for destin in message.recipient.get_query_set %}
                                                        {{ destin }},
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th align=left width=25%>
                                                    <div class="news_title">De:</div>
                                                </th>
                                                <td width=75%>
                                                    {{ message.sender }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th align=left width=25%>
                                                    <div class="news_title">{% trans "Date" %}:</div>
                                                </th>
                                                <td width=75>
                                                    {{ message.sent_at|date:_("DATETIME_FORMAT")}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width=100% colspan=2>
                                                    {{ message.body.labels }}
                                                    {{ message.body|linebreaksbr }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th align=left width=25%>
                                                    <div class="news_title">Leído por:</div>
                                                </th>
                                                <td width=75%>
                                                    {% ifequal message.leido_por.get_query_set.count 0 %}
                                                        <div class=error>Nadie</div>
                                                    {% else %}
                                                        {% for leido in message.leido_por.get_query_set %}
                                                            {{ leido }}, 
                                                        {% endfor %}
                                                    {% endifequal %}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table>
                                        <tr>
                                            <td width=50%>
                                                <a href="/aprobar/{{ message.id }}" class="button"><span><span>Aprobar</span></span></a>
                                            </td>
                                            <td width=50% align="left">
                                                <a href="/anular/{{ message.id }}" class="button"><span><span>Anular</span></span></a>
                                            </td>
                                        </tr>
                                    </table>
                                {% endblock %}



                            </div>
                        </div>
                    </div>
                </div>
			</section>
		</div>
	</div>
			<!-- / content -->
			<!-- footer -->
	<div class="body8">
	<div class="body9">
		<div class="main">
            {% include "user/pie.html" %}
		</div>
<!-- / footer -->
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<script type="text/javascript">
	$(window).load(function() {
	$('#slider').nivoSlider({
        effect:'sliceDown', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft'    
        slices:20,
        animSpeed:300,
        pauseTime:9999999999,
        startSlide:0, //Set starting Slide (0 index)
        directionNav:true, //Next & Prev
        directionNavHide:false, //Only show on hover
        controlNav:false, //1,2,3...
        controlNavThumbs:false, //Use thumbnails for Control Nav
        controlNavThumbsFromRel:false, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav:true, //Use left & right arrows
        pauseOnHover:true, //Stop animation while hovering
        manualAdvance:false, //Force manual transitions
        captionOpacity:1, //Universal caption opacity
        beforeChange: function(){},
        afterChange: function(){},
        slideshowEnd: function(){} //Triggers after all slides have been shown
    });
    });
</script>
</body>
</html>







































{% include "user/base.html" %} 
{% load i18n %} 
<!-- Banner -->
{% include "user/banner.html" %}

    <!-- Umail info -->
{% include "user/umail_info.html" %}
{% if loggeado %}

    <!-- Menú -->
        <div id="menu_wrapper">    
            <div id="menu">
                <ul>
                    {% load menu %}
                    {{ 'Memos'|menu }}
                </ul>    	
            </div> <!-- end of menu -->
        </div> <!-- end of menu wrapper -->

        <!-- Menú mensajes -->
    <div id="content">

        {% include "user/mensajes/menu.html" %}

        <div id="content_right">
        <div class="cleaner">&nbsp;</div>

            <!-- Fin menú mensajes -->

            <div id="content_wrapper">
            <div id="content">

                <div class="margin_bottom_20"></div>
                <div class="cleaner"></div>
                
            </div>   <!-- FIN DE NOTICIAS -->
                

        <div class="cleaner">&nbsp;</div>

        </div> <!-- end of content -->
        </div> <!-- end of content wrapper -->
        </div> <!-- end of content right -->
{% endif %}


{% include "user/pie.html" %}
</body>
