{% load admin_static %}
<h2>Menú</h2>
<ul class="list2">
    <li><a href="#"><img src="{% static "images/icon1.jpg" %}" alt="">Redactar</a></li>
    <li><a href="#"><img src="{% static "images/icon2.jpg" %}" alt="">Minimización de costos</a></li>
    <li><a href="#"><img src="{% static "images/icon3.jpg" %}" alt="">Control de datos</a></li>
    <li><a href="#"><img src="{% static "images/icon4.jpg" %}" alt="">Eficiencia</a></li>
    <li class="bg_none"><a href="#"><img src="{% static "images/icon5.jpg" %}" alt="">Información segura</a></li>
</ul>
