    {% load admin_static %}
    {% load menu %}
<div class="wrapper">
    <article class="col1 pad_left1">
        <ul class="list2">
            {% if request|jefe_departamento %}
                <li style="line-height: 40px"><img style="vertical-align: middle" src="{% static "images/redactar.png" %}"><a href="/por_aprobar/#Menu" alt="" style="color:#000">Por aprobar <strong>({{ request|num_por_aprobar }})</strong></a></li>
            {% endif %}
            <li style="line-height: 40px"><img style="vertical-align: middle" src="{% static "images/redactar.png" %}"><a href="/redactar/#menu" style="color:#000;">Redactar</a></li>
            {% ifequal request|num_entrada 0 %}
                <li style="line-height: 40px"><img style="vertical-align: middle" src="{% static "images/recibidos.png" %}"><a href="/entrada/#Menu" style="color:#000">Recibidos</a></li>
            {% else %}
                <li style="line-height: 40px"><img style="vertical-align: middle" src="{% static "images/recibidos.png" %}"><a href="/entrada/#Menu" style="color:#000">Recibidos <strong>({{ request|num_entrada }})</strong></a></li>
            {% endifequal %}
            <li style="line-height: 40px"><img style="vertical-align: middle" src="{% static "images/enviados.png" %}"><a href="/enviados/#Menu" style="color:#000">Enviados</a></li>
            <li style="line-height: 40px"><img style="vertical-align: middle" src="{% static "images/archivados.png" %}"><a href="/archivados/#Menu" style="color:#000">Archivados</a></li>
        </ul>
    </article>
</div>
