<!DOCTYPE html>
<html>
<head>
{% include "user/base.html" %} 
{% load admin_static %}
{% load i18n %}
<title>Inicio</title>
<meta charset="utf-8">




                        <style type="text/css">
                        @media print { #djDebug {display:none;}}
                        </style>
                        <link rel="stylesheet" href="{{ STATIC_URL }}css/toolbar.css" type="text/css">
                        <script type="text/javascript" src="{{ STATIC_URL }}js/toolbar.min.js"></script>
                        <div id="djDebug" style="display:none;" dir="ltr">
                            <div style="display:none;" id="djDebugToolbar">
                                <ul id="djDebugPanelList">
                                    <li id="djDebugButton">Memorándums</li>
                                    <li>
                                        <a id="djHideToolBarButton" href="#" title="Ocultar barra">
                                            &raquo;
                                        </a>
                                    </li>

                                    <li class="djDebugPanelButton">
                                        <a href="{{Entrada|default:"#"}}" title="Entrada">
                                            Entrada
                                        </a>
                                    </li>

                                    <li class="djDebugPanelButton">
                                        <a href="/admin" title="Enviados">
                                            Enviados
                                        </a>
                                    </li>

                                    <li class="djDebugPanelButton">
                                        <a href="#" title="Borradores">
                                            Borradores
                                        </a>
                                    </li>

                                    <li class="djDebugPanelButton">
                                        <a href="#" title="Archivos">
                                            Archivos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div style="display:none;" id="djDebugToolbarHandle">
                                <a title="{% trans "Show Toolbar" %}" id="djShowToolBarButton" href="#">Abrir menú&laquo;</a>
                            </div>

                                <div id="Entrada" class="panelContent">
                                    <div class="djDebugPanelTitle">
                                        <a href="" class="djDebugClose">Cerrar</a>
                                        <h3>Entrada</h3>
                                    </div>
                                    <div class="djDebugPanelContent">
                                        <div class="scroll">
                                            Prueba
                                        </div>
                                    </div>
                                </div>

                                <!--
                                <div id="{{ panel.dom_id }}" class="panelContent">
                                    <div class="djDebugPanelTitle">
                                        <a href="" class="djDebugClose">{% trans "Close" %}</a>
                                        <h3>{{ panel.title|safe }}</h3>
                                    </div>
                                    <div class="djDebugPanelContent">
                                        <div class="scroll">
                                            {{ panel.content|safe }}
                                        </div>
                                    </div>
                                </div>
                                -->
                            <div id="djDebugWindow" class="panelContent"></div>
                        </div>














<script type="text/javascript" src="{% static "js/cufon-yui.js" %}"></script>
<script type="text/javascript" src="{% static "js/cufon-replace.js" %}"></script>  
<script type="text/javascript" src="{% static "js/Copse_400.font.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.nivo.slider.pack.js" %}"></script>
<script type="text/javascript" src="{% static "js/imagepreloader.js" %}"></script>
<script type="text/javascript">
	preloadImages([
	'/static/images/menu1_active.gif',
	'/static/images/menu2_active.gif',
	'/static/images/menu3_active.gif',
	'/static/images/menu4_active.gif',
	'/static/images/marker_right_active.jpg',
	'/static/images/marker_left_active.jpg',
	'/static/images/menu5_active.gif']);
</script>
<!--[if lt IE 9]>
	<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
	<div class="body2">
		<div class="main">
<!-- header -->
			<header>
                {% include "user/banner.html" %}
				<nav id="menu">
					<ul>
                        {% load menu %}
                        {{ 'Memos'|menu }}
					</ul>
				</nav>
			</header>
        </div>
	</div>
<!-- / header -->
<!-- content -->
	<div class="body5">
		<div class="body6" id="Menu">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="{% static "images/letter2.png" %}" alt=""></figure>
					<h2><span>Memorándums</span></h2>
                    Sección en la que puedes redactar, revisar la bandeja de entrada, bandeja de salida, memorándums aprobados, memorándums archivados, entre otros.
                    {% if mensaje %}
                        <span class="tooltip">{{ mensaje }}</span>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="body7">

        <!-- Menú azul superior -->
        <div class="body10">
            <div class="main">
                <table width=100%>
                    <tbody>
                        <tr align=center>
                            <td align=left width=25%>
                            </td>
                            <td align=left>
                            </td>
                            <td align=right width=25% valign="middle">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="main">
            <table width=100%>
                <tbody>
                    <tr align=center>
                        <td align=left width=25%>
                            <h2 color=white>
                                Emisor/Correo
                            </h2>
                        </td>
                        <td align=left>
                            <h2 color=white>
                                Asunto/Texto
                            </h2>
                        </td>
                        <td align=right width=25% valign="middle">
                            <h2 class="right" color=white>
                                Fecha y hora
                            </h2>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Fin menú azul superior -->

		<div class="main">
			<section id="content">
				<div class="col_1">
                    {% include "user/mensajes/menu.html" %}
				</div>
				<div class="col_4">
                    <div class="wrapper">
                        <article >
                            <ul class="list4">


                                <table width=100%>
                                    <tbody>
                            {% load disminuir %}
                            {% load inbox %}
                            {% for message in message_list %} 
                                    <tr align=center>
                                        <!-- Si el usuario no lo ha leído -->
                                        {% ifequal request|negrillas:message.id True %}

                                            <td align=left width=25%>
                                                    <li>
                                                        <strong>
                                                            <a href="{{message.get_por_aprobar_url}}"> {{ message.sender }} </a>
                                                        </strong>
                                                        <br>
                                                        <small>
                                                            {{ message.sender.usuarios.user.email }}
                                                        </small>
                                                    </li>
                                            </td>

                                            <td align=left>
                                                    <li>
                                                        <strong>
                                                            <a href="{{message.get_por_aprobar_url}}">{{ message.subject|disminuir_t:50 }}</a>
                                                        </strong>
                                                    <br />
                                                    <small>
                                                        {{ message.body|disminuir:50 }}
                                                    </small>
                                                    </li>
                                            </td>

                                            <td align=right width=25%>
                                                <li>
                                                    <strong>
                                                        <a href="{{message.get_absolute_url }}">
                                                            {{ message.sent_at|date:"D d M P" }}
                                                        </a>
                                                    </strong>
                                                    <br />
                                                    <small>
                                                        -
                                                    </small>
                                                </li>
                                            </td>

                                        {% else %}

                                            <td align=left width=25%>
                                                    <li> {{ message.sender }} <br> {{ message.sender.usuarios.user.email }}</li>
                                            </td>

                                            <td align=left>
                                                    <li><a href="{{message.get_absolute_url }}">{{ message.subject|disminuir_t:50 }}<br />
                                                    {{ message.body|disminuir:50 }}
                                                    </a></li>
                                            </td>

                                            <td align=right width=25%>
                                                <li><a href="{{message.get_absolute_url }}">{{ message.sent_at|date:"D d M P" }}</a><br />-</li>
                                            </td>

                                        {% endifequal %}
                                    </tr>
                            {% endfor %}
                                    </tbody>
                                </table>

    <!--
                                {% for mensj in message_list %}
                                        <tr>
                                            <td>
                                                <li><input type="checkbox"><a>{{ mensj }}</a></input></li>
                                            </td>
                                            <td>
                                                <li><a>{{ mensj }}</a></li>
                                            </td>
                                            <td>
                                                <li><a>{{ mensj }}</a></li>
                                            </td>
                                            <td>
                                                <li><a>{{ mensj.send_at }}</a></li>
                                            </td>
                                        </tr>
                                {% endfor %}
                                -->
                            </ul>
                        </article>
                        <!--
                                <li><a>Minimización de recursos</a></li>
                                <li><a>Control de datos</a></li>
                                <li><a>Eficiencia</a></li>
                                <li><a>Información segura</a></li>
                        -->

                    </div>
                </div>
			</section>
		</div>
	</div>
			<!-- / content -->
            {% include "user/pie.html" %}
            <>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<script type="text/javascript">
	$(window).load(function() {
	$('#slider').nivoSlider({
        effect:'sliceDown', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft'    
        slices:20,
        animSpeed:300,
        pauseTime:9999999999,
        startSlide:0, //Set starting Slide (0 index)
        directionNav:true, //Next & Prev
        directionNavHide:false, //Only show on hover
        controlNav:false, //1,2,3...
        controlNavThumbs:false, //Use thumbnails for Control Nav
        controlNavThumbsFromRel:false, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav:true, //Use left & right arrows
        pauseOnHover:true, //Stop animation while hovering
        manualAdvance:false, //Force manual transitions
        captionOpacity:1, //Universal caption opacity
        beforeChange: function(){},
        afterChange: function(){},
        slideshowEnd: function(){} //Triggers after all slides have been shown
    });
    });
</script>
</body>
</html>

