<!DOCTYPE html>
<html>
<head>
{% include "user/base.html" %} 
{% load admin_static %}
{% load i18n %}
<title>Inicio</title>
<meta charset="utf-8">






<script type="text/javascript" src="{% static "js/cufon-yui.js" %}"></script>
<script type="text/javascript" src="{% static "js/cufon-replace.js" %}"></script>  
<script type="text/javascript" src="{% static "js/Copse_400.font.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.nivo.slider.pack.js" %}"></script>
<script type="text/javascript" src="{% static "js/imagepreloader.js" %}"></script>
<script type="text/javascript">
	preloadImages([
	'/static/images/menu1_active.gif',
	'/static/images/menu2_active.gif',
	'/static/images/menu3_active.gif',
	'/static/images/menu4_active.gif',
	'/static/images/marker_right_active.jpg',
	'/static/images/marker_left_active.jpg',
	'/static/images/menu5_active.gif']);
</script>
<!--[if lt IE 9]>
	<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
	<div class="body2">
		<div class="main">
<!-- header -->
			<header>
                {% include "user/banner.html" %}
				<nav id="menu">
					<ul>
                        {% load menu %}
                        {{ 'Memos'|menu }}
					</ul>
				</nav>
			</header>
        </div>
	</div>
<!-- / header -->
<!-- content -->
	<div class="body5">
		<div class="body6" id="Menu">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="{% static "images/letter1.png" %}" alt=""></figure>
					<h2><span>Memorándums</span></h2>
                    Sección en la que puedes redactar, revisar la bandeja de entrada, bandeja de salida, memorándums aprobados, memorándums archivados, entre otros.
				</div>
			</div>
		</div>
	</div>
	<div class="body7">

        <!-- Menú azul superior -->
        <div class="body10">
            <div class="main">
                            <table width=100%>
                                <tbody>
                                    <tr align=center>
                                        <td align=left width=25%>
                                        </td>
                                        <td align=left>
                                        </td>
                                        <td align=right width=25% valign="middle">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
            </div>
        </div>

		<div class="main">
			<section id="content">
                <div class="wrapper">
                    <h2>Redactar memorándum</h2>
                    <form id="ContactForm" method="post">
                        <div>
                            <div  class="wrapper">
                        <table>
                            <tbody>
                                <!-- recipient -->
                                <tr>
                                    <td height=25%>
                                        <b>{{ form.recipient.label }}</b>
                                    </td>
                                    <td height=25%>
                                        {{ form.recipient }} 
                                    </td>
                                    <td height=25%>
                                        <b>{{ form.con_copia.label }}</b>
                                    </td>
                                    <td height=25%>
                                        {{ form.con_copia }} 
                                    </td>
                                <tr>
                                <tr>
                                    <td height=25%>
                                    </td>
                                    <td height=25%>
                                        Por favor, ingrese al menos 4 caracteres para  <br />
                                        autocompletar. Puede agregar múltiples contactos. 
                                    </td>
                                    <td height=25%>
                                    </td>
                                    <td height=25%>
                                        Por favor, ingrese al menos 4 caracteres para  <br />
                                        autocompletar. Puede agregar múltiples contactos. 
                                    </td>
                                <tr>
                                <tr>
                                    <td height=25%>
                                        <b>{{ form.subject.label }}</b>
                                    </td>
                                    <td height=75%>
                                        {{ form.subject }} 
                                    </td>
                                <tr>
                                    <td height=25%>
                                        <b>{{ form.body.label }}: </b>
                                    </td>
                                    <td height=75%>
                                        {{ form.body }} 
                                    </td>
                                <tr>
                                <tr>
                            </body>
                        </table>
                            <a href="#" class="button" onClick="document.getElementById('ContactForm').submit()"><span><span>Send</span></span></a>
                            <a href="#" class="button" onClick="document.getElementById('ContactForm').reset()"><span><span>Clear</span></span></a>
                        </div>


                    </form>
				</div>
			</section>
		</div>
	</div>
			<!-- / content -->
			<!-- footer -->
	<div class="body8">
	<div class="body9">
		<div class="main">
			<footer>
				<div class="col_1">
					<h3>Social Networks</h3>
					<ul class="list3">
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Flickr</a></li>
						<li><a href="#">Blogger</a></li>
					</ul>
				</div>
				<div class="col_2 pad_left1">
					<h3>Quick Solutions</h3>
					<div class="wrapper">
						<ul class="list3 col_1">
							<li><a href="#">Management Consulting</a></li>
							<li><a href="#">Policy and Regulatory</a></li>
							<li><a href="#">Market Assessment</a></li>
							<li><a href="#">Program Management</a></li>
						</ul>
						<ul class="list3 col_1 pad_left1">
							<li><a href="#">Regulatory Support</a></li>
							<li><a href="#">Risk Assessment</a></li>
							<li><a href="#">Change Management</a></li>
							<li><a href="#">Info Technology</a></li>
						</ul>
					</div>
				</div>
				<div class="col_3">
					<a href="index.html" id="footer_logo">First</a>
					<p class="center"><a rel="nofollow" href="http://www.templatemonster.com/" target="_blank">Website template</a><br>
							designed by TemplateMonster.com</p>
					<p class="center">
							<a href="http://www.templates.com/product/3d-models/" target="_blank">3D Models</a><br>
							provided by Templates.com</p>
				</div>
			</footer>
		</div>
<!-- / footer -->
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<script type="text/javascript">
	$(window).load(function() {
	$('#slider').nivoSlider({
        effect:'sliceDown', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft'    
        slices:20,
        animSpeed:300,
        pauseTime:9999999999,
        startSlide:0, //Set starting Slide (0 index)
        directionNav:true, //Next & Prev
        directionNavHide:false, //Only show on hover
        controlNav:false, //1,2,3...
        controlNavThumbs:false, //Use thumbnails for Control Nav
        controlNavThumbsFromRel:false, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav:true, //Use left & right arrows
        pauseOnHover:true, //Stop animation while hovering
        manualAdvance:false, //Force manual transitions
        captionOpacity:1, //Universal caption opacity
        beforeChange: function(){},
        afterChange: function(){},
        slideshowEnd: function(){} //Triggers after all slides have been shown
    });
    });
</script>
</body>
</html>







