{% include "user/base.html" %} 
{% load i18n %} 
<!-- Banner -->
{% include "user/banner.html" %}

    <!-- Umail info -->
{% include "user/umail_info.html" %}

{% if loggeado %}

    <!-- Menú -->
        <div id="menu_wrapper">    
            <div id="menu">
                <ul>
                    <li><a href="/"><span></span>Inicio</a></li>
                    <li><a href="/inbox" class="current"><span></span>Recibidos</a></li>
                    <li><a href="#"><span></span>Projects</a></li>
                    <li><a href="#"><span></span>Partners</a></li>
                    <li><a href="/noticias"><span></span>Noticias</a></li>
                    <li><a href="#"><span></span>Contact</a></li>
                </ul>    	
            </div> <!-- end of menu -->
        </div> <!-- end of menu wrapper -->

        <!-- Menú mensajes -->
    <div id="content">

        {% include "user/mensajes/menu.html" %}

        <div id="content_right">
        <div class="cleaner">&nbsp;</div>

            <!-- Fin menú mensajes -->

            <div id="content_wrapper">
            <div id="content">

                {% block content %}
<div class="content_header_01" >Redactar</div>
<form action="" method="post">
{% csrf_token %} 
<table class="messages" width=600px>
    <tbody>
    {% for campo in form %}
    <tr>
        <td>
            <b>{{campo.label}}</b>
        </td>
        <td>
            {{campo}} 
        </td>
    <tr>
        <td>
        </td>
        <td align=top>
            {{campo.help_text}}
        </td>
    {% endfor %}
    </tbody>

</table>
<input type="submit" class="boton" value="{% trans "Send" %} &raquo;"/>
</form>
                {% endblock %}

                <div class="margin_bottom_20"></div>
                <div class="cleaner"></div>
                
            </div>   <!-- FIN DE NOTICIAS -->
                

        <div class="cleaner">&nbsp;</div>

        </div> <!-- end of content -->
        </div> <!-- end of content wrapper -->
        </div> <!-- end of content right -->


{% endif %}
<div id="footer_wrapper">        
    <div id="footer">
        Copyright © <a href="https://github.com/Axelio/umail/blob/master/copyright">Umail</a> | 
    </div><!-- end of footer -->
</div><!-- end of footer wrapper -->
</body>






