<!DOCTYPE html>
{% include "user/base.html" %} 
{% load admin_static %}
<html lang="es">
<head>
<title>Inicio</title>
<meta charset="utf-8">
<script type="text/javascript" src="{% static "js/cufon-yui.js" %}"></script>
<script type="text/javascript" src="{% static "js/cufon-replace.js" %}"></script>  
<script type="text/javascript" src="{% static "js/Copse_400.font.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.nivo.slider.pack.js" %}"></script>
<script type="text/javascript" src="{% static "js/imagepreloader.js" %}"></script>
<script type="text/javascript">
	preloadImages([
	'/static/images/menu1_active.gif',
	'/static/images/menu2_active.gif',
	'/static/images/menu3_active.gif',
	'/static/images/menu4_active.gif',
	'/static/images/marker_right_active.jpg',
	'/static/images/marker_left_active.jpg',
	'/static/images/menu5_active.gif']);
</script>
<!--[if lt IE 9]>
	<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
	<div class="body2">
		<div class="main">
<!-- header -->
			<header>
                <!--
                {% include "user/banner.html" %}
				<nav id="menu">
					<ul>
                        {% load menu %}
                        {{ 'Inicio'|menu }}
					</ul>
				</nav>
                -->
                {% include "user/banner.html" %}
<nav id="menu">
<ul>
                        {% load menu %}
                        {{ 'Inicio'|menu }}
</ul>

</nav>
			</header>
        </div>
	</div>
	<div class="body3">
		<div class="body4">
			<div class="main">
				<div class="slogan">
					<div id="slider">
						<img src="{% static "images/text1.jpg" %}" alt="">	
						<img src="{% static "images/text2.jpg" %}" alt="">	
						<img src="{% static "images/text3.jpg" %}" alt="">				
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- / header -->
<!-- content -->
	<div class="body5">
		<div class="body6">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="{% static "images/letter1.png" %}" alt=""></figure>
					<h2>¡Bienvenido a <span>Umail</span>!</h2>
                    Primer sistema que busca la interoperabilidad entre las dependencias de la <a href="http://www.unerg.edu.ve/" target="_blank">UNERG</a> para lograr la agilización, facilidad, eficacia y eficiencia de la elaboración, envío y recepción en los memorándums.
				</div>
			</div>
		</div>
	</div>
	<div class="body7">
		<div class="main">
			<section id="content">
				<div class="wrapper">
				<article class="col1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad"><div class="pad1">
							<h2 class="center">Misión</h2>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
							<div class="wrapper center">
								<a href="#" class="button"><span><span>Más</span></span></a>
							</div>
						</div></div>
					</div></div></div>
        		</article>
				<article class="col1 pad_left1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad">
								<div class="pad1">
							<h2 class="center">Visión</h2>
							<p>Veritatis quasi architecto beatae bitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia.</p>
							<div class="wrapper center">
								<a href="#" class="button"><span><span>Más</span></span></a>
							</div>
						</div></div>
					</div></div></div>
        		</article>
				<article class="col1 pad_left1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad">
								<div class="pad1">
							<h2 class="center">Objetivos</h2>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
							<div class="wrapper center">
								<a href="#" class="button"><span><span>Más</span></span></a>
							</div>
						</div></div>
					</div></div></div>
        		</article>
				</div>
				<div class="wrapper">
					<article class="col2">
						<div class="pad1">
							<h2>Noticias</h2>
							<p class="pad_bot1">La sección de noticias busca la manera más rápida de enterarte de los sucesos más importantes en relación a los comunicados, resoluciones o comunicaciones de la <a href="http://www.unerg.edu.ve/" target="_blank">UNERG</a>.</p>
                            <!--
							<p class="pad_bot2">
									Descripción.</p>-->
							<div class="wrapper line1 marg_bot1">
								<ul class="col1 list1">
                                    {% load disminuir %}
                                    {% for noticia in ult_notic1 %}
									<li><a href="/noticias/{{ noticia.id }}">{{ noticia.texto|disminuir:100 }}</a></li>
                                    {% endfor %}
								</ul>
								<ul class="list1 pad_left1 left">
                                    {% load disminuir %}
                                    {% for noticia in ult_notic2 %}
									<li><a href="/noticias/{{ noticia.id }}">{{ noticia.texto|disminuir:100 }}</a></li>
                                    {% endfor %}
								</ul>
							</div>
							<a href="/noticias" class="button"><span><span>Leer más</span></span></a>
						</div>
					</article>
					<article class="col1 pad_left1">
						<h2>Ventajas</h2>
						<ul class="list2">
							<li><a><img src="{% static "images/icon1.jpg" %}" alt="">------</a></li>
							<li><a><img src="{% static "images/icon2.jpg" %}" alt="">Minimización de recursos</a></li>
							<li><a><img src="{% static "images/icon3.jpg" %}" alt="">Control de datos</a></li>
							<li><a><img src="{% static "images/icon4.jpg" %}" alt="">Eficiencia</a></li>
							<li class="bg_none"><a href="#"><img src="{% static "images/icon5.jpg" %}" alt="">Información segura</a></li>
						</ul>
                        <!--
						<div class="box1"><div class="box1_bot"><div class="box1_top">
							<div class="pad">
								<h2>Newsletter</h2>
								Sign up for weekly newsletter:
								<form id="sign_up" method="post">
									<div>
										<input type="text" class="input">
										<a href="#" onClick="document.getElementById('sign_up').submit()">Sign up</a>
									</div>
								</form>
							</div>
						</div></div></div>
                        -->
					</article>
				</div>
			</section>
		</div>
	</div>
			<!-- / content -->
            {% include "user/pie.html" %}
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<script type="text/javascript">
	$(window).load(function() {
	$('#slider').nivoSlider({
        effect:'sliceDown', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft'    
        slices:20,
        animSpeed:300,
        pauseTime:9999999999,
        startSlide:0, //Set starting Slide (0 index)
        directionNav:true, //Next & Prev
        directionNavHide:false, //Only show on hover
        controlNav:false, //1,2,3...
        controlNavThumbs:false, //Use thumbnails for Control Nav
        controlNavThumbsFromRel:false, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav:true, //Use left & right arrows
        pauseOnHover:true, //Stop animation while hovering
        manualAdvance:false, //Force manual transitions
        captionOpacity:1, //Universal caption opacity
        beforeChange: function(){},
        afterChange: function(){},
        slideshowEnd: function(){} //Triggers after all slides have been shown
    });
    });
</script>
</body>
</html>
