{% include "usuario/base.html" %}
{% load admin_static %}

<body>

  <script type="text/javascript">
      function selectAllItems() {
    	var selectAll = $("#select_all_items");

    	   $(".chkSelectItem").each(function (index, item) {
    		  if (selectAll.prop("checked") != $(item).prop('checked')) {
    			  $(item).trigger('click');
    		  }
    	});
      }

    setInterval(function() {
        document.getElementById('cerrar').click();
    }, 5000);
  </script>

<!-- ACCIONES -->
<form method="post" action="" style="margin:0px">
<!-- ACCIONES -->

{% include "usuario/mensajes/acciones.html" %}

<div>
  <div class="container">
        <div class="container-narrow">
            <div class="row-fluid">
                <!-- BUZÓN -->
                <div class="span3">
                    <div class="strip strip-white" id="strip-grey-degradado" style="padding:0px 0px 0px 0px; min-height: 350px">
                        <ul class="nav nav-list">
                            {% include "usuario/mensajes/lista_menu_mensajes.html" %}
                        </ul>
                    </div>
                </div>
                <!-- BUZÓN -->

                <div class="span9 row-fluid" style="margin-left:0px"> 
                    {% if mensaje %}
                        <div class="alert alert-{{ tipo_mensaje }}">
                            <button type="button" class="close" id="cerrar" data-dismiss="alert">&times;</button>
                            <strong>{{ expresion }}</strong>{{ mensaje }}.
                        </div>
                    {% endif %}
                    <table class="table table-striped">
                        <tbody>
                            <th><input type="checkbox" id="select_all_items" onchange="javascript:selectAllItems()" name="select_all_items"/></th>
                            <th></th>
                            {% ifequal tipo_bandeja 'entrada'%}
                            <th>De</th>
                            {% else %}
                            <th>Para</th>
                            {% endifequal %}
                            <th>Asunto</th>
                            <th>Fecha</th>
                            {% load inbox %}
                            {% for form in message_list %}
                                <tr>
                                    <td>
                                        <input type="checkbox" class="chkSelectItem" name="seleccion" value="{{ form.id }}"/>
                                    </td>
                                    <td>
                                        {{ form.id|icon_status }}
                                    </td>
                                    <td>
                                        {% ifequal tipo_bandeja 'entrada' %}
                                            {% if not form.read_at %}
                                                <b>
                                            {% endif %}
                                                {% ifequal tipo_bandeja 'borradores' %}
                                                <a href="{% url 'redactar' form.id %}">
                                                    {{ 'sender'|destin:form.id }}
                                                </a>
                                                {% else %}
                                                    <a href="{% url 'leer' form.id %}">
                                                        {{ 'sender'|destin:form.id }}
                                                    </a>
                                                {% endifequal %}
                                            {% if not form.read_at %}
                                                </b>
                                            {% endif %}
                                        {% else %}
                                            {% ifequal tipo_bandeja 'borradores' %}
                                            <a href="{% url 'redactar' form.id %}">
                                                {{ 'recipient'|destin:form.id }}
                                            </a>
                                            {% else %}
                                                <a href="{% url 'leer' form.id %}">
                                                    {{ 'recipient'|destin:form.id }}
                                                </a>
                                            {% endifequal %}
                                                    
                                        {% endifequal %}
                                    </td>
                                    <td>
                                        {% if not form.read_at %}
                                            {% ifequal tipo_bandeja 'entrada' %}
                                                <b>
                                            {% endifequal %}
                                        {% endif %}
                                            {% ifequal tipo_bandeja 'borradores' %}
                                                <a href="{% url 'redactar' form.id %}">
                                                    {{ form.subject }}
                                                </a>
                                            {% else %}
                                                <a href="{% url 'leer' form.id %}">
                                                    {{ form.subject }}
                                                </a>
                                            {% endifequal %}
                                            
                                        {% if not form.read_at %}
                                            {% ifequal tipo_bandeja 'entrada' %}
                                                </b>
                                            {% endifequal %}
                                        {% endif %}
                                    </td>
                                    <td >
                                        
                                        {#<a id="table-striped-degradado"href="{% url 'messages_detail' form.id %}">{{ form.sent_at|date:"D d M P" }}</a>#}

                                        {% if not form.read_at %}
                                            {% ifequal tipo_bandeja 'entrada' %}
                                                <b>
                                            {% endifequal %}
                                        {% endif %}
                                            {% ifequal tipo_bandeja 'borradores' %}
                                                <a href="{% url 'redactar' form.id %}">
                                                    {{ form.sent_at|date:"D d M P" }}
                                                </a>
                                            {% else %}
                                                <a href="{% url 'leer' form.id %}">
                                                    {{ form.sent_at|date:"D d M P" }}
                                                </a>
                                            {% endifequal %}
                                        {% if not form.read_at %}
                                            {% ifequal tipo_bandeja 'entrada' %}
                                                </b>
                                            {% endifequal %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </form>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


                    

                   
<!-- 

    <div class="container-narrow"> 

        <div class="row-fluid">
            <form method="post" action="">
                <div class="span3">
                    <ul class="nav nav-list pull-right">
                        {% include "usuario/mensajes/lista_menu_mensajes.html" %}
                        <li class="divider"></li>
                        <li class="nav-header">Acciones</li>
                        <button class="btn btn-primary" type="submit" name="archivar">Archivar</button>
                    </ul>
                </div>


                <div class="span9">
                    {% if mensaje %}
                        <div class="alert alert-{{ tipo_mensaje }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>{{ expresion }}</strong>{{ mensaje }}.
                        </div>
                    {% endif %}


                    {% csrf_token %}
                    <div class="strip strip-white strip-grey" style="padding:1px 0px 0px 0px; min-height: 350px">
                        <div class="pagination">
                          <ul>
                            {% if contacts.has_previous %}
                                <li>
                                    <a href="?page={{ message_list.previous_page_number }}">
                                        Anterior
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="#">
                                    Página {{ message_list.number }} de {{ message_list.paginator.num_pages }}.
                                </a>
                            </li>
    

        
                            {% if contacts.has_next %}
                                <li>
                                    <a href="#"><a href="?page={{ message_list.next_page_number }}">
                                        Siguiente
                                    </a>
                                </li>
                                
                            {% endif %}

                          </ul>
                        </div>

                        <table class="table" style="background-color:#FFF">
                            
                            <tbody>
                                <th>
                                    <input type="checkbox" id="select_all_items" onchange="javascript:selectAllItems()" name="select_all_items" />
                                </th>
                                <th>Estado</th>
                                {% ifequal tipo_bandeja 'enviados'%}
                                    <th>Para</th>
                                {% else %}
                                    <th>De</th>
                                {% endifequal %}
                                <th>Asunto</th>
                                <th>Fecha</th>
                                {% load inbox %}
                                {% for form in message_list %}
                                    <tr>
                                            <td>
                                                <input type="checkbox" class="chkSelectItem" name="seleccion" value="{{ form.id.value }}"/>
                                            </td>
                                            <td>
                                                {{ form.id|icon_status }}
                                            </td>
                                            <td>
                                                {% ifequal tipo_bandeja 'enviados' %}
                                                    <a href="{% url 'leer' form.id">
                                                        {{ 'recipient'|destin:form.id }}
                                                    </a>
                                                {% else %}

                                                    <a href="{% url 'leer' form.id">
                                                        {{ 'sender'|destin:form.id }}
                                                    </a>
                                                {% endifequal %}
                                            </td>
                                            <td>
                                                <a href="{% url 'leer' form.id %}">
                                                    {{ form.subject }}
                                                </a>
                                            </td>
                                            <td>
                                                {% comment %}
                                                <a href="{% url 'leer' form.id %}">{{ form.sent_at|date:"D d M P" }}</a>
                                                {% endcomment %}

                                                <a href="{% url 'leer' form.id %}">
                                                    {{ form.sent_at|date:"D d M P" }}
                                                </a>
                                            </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div> 
</body>-->

{% include "usuario/pie.html" %} 
