{% include "usuario/base.html" %}
{% load admin_static %}

<body>

  <script type="text/javascript">
      function selectAllItems() {
    	var selectAll = $("#select_all_items");

    	   $(".chkSelectItem").each(function (index, item) {
    		  if (selectAll.prop("checked") != $(item).prop('checked')) {
    			  $(item).trigger('click');
    		  }
    	});
      }
  </script>

<!-- ACCIONES -->
  <div>
        <div class="navbar-inner" style="min-height:40px">
            <div class="container">
            <div class="row">
            <div class="span3">
                <div class="btn-group tooltip-demo" style="padding-top: 8px"> 
                    <button class="btn ">
                        <a 
                            id="link-negro" 
                            href="{% url 'redactar' %}" 
                            data-toggle="tooltip" 
                            data-placement="bottom" 
                            data-original-title="Nuevo">
                            <i class="icon-pencil"></i>
                        </a>
                    </button>
                    <button class="btn dropdown-toggle tooltip-demo" data-toggle="dropdown">
                        <a 
                            id="link-negro" 
                            data-placement="bottom">
                            <i class="icon-caret-down"></i>
                        </a>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" >
                        <li><a tabindex="-1" href="{% url 'redactar' %}">Nuevo Memo</a></li>
                        <li><a tabindex="-1" href="{% url 'reportes' %}">Nuevo Reporte</a></li>
                        <li><a tabindex="-1" href="#">Nueva Plantilla</a></li>
                    </ul>
                </div>    
            </div>
            <div class="span6" style="margin:0px">    
                <div class="btn-group tooltip-demo" style="padding-top: 8px">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown"
                            id="link-negro" 
                            data-placement="bottom">
                            <i class="icon-sort-by-attributes"></i>
                        </a>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Leído</a></li>
                        <li><a tabindex="-1" href="#">No leído</a></li>
                        <li><a tabindex="-1" href="#">Aprobado</a></li>
                        <li><a tabindex="-1" href="#">En espera</a></li>
                        <li><a tabindex="-1" href="#">Anulado</a></li>
                      </ul>
                    </div>
                    <div class="btn-group" >
                        <button class="btn btn-group">
                            <a 
                                id="link-negro" 
                                href="#" 
                                data-toggle="tooltip" 
                                data-placement="bottom" 
                                data-original-title="">
                                <i class="icon-backward"></i>
                            </a>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn">
                            <a 
                                id="link-negro" 
                                href="#" 
                                data-toggle="tooltip" 
                                data-placement="bottom" 
                                data-original-title="">
                                <i class="icon-chevron-left"></i>
                            </a>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn">
                            <a 
                                id="link-negro" 
                                href="#" 
                                data-toggle="tooltip" 
                                data-placement="bottom" 
                                data-original-title="">
                                <i class="icon-chevron-right"></i>
                            </a>
                        </button>
                    </div>
                    <div class="btn-group ">
                        <button class="btn">
                            <a 
                                id="link-negro" 
                                href="{% url 'redactar' %}" 
                                data-toggle="tooltip" 
                                data-placement="bottom" 
                                data-original-title="">
                                <i class="icon-forward"></i>
                            </a>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn" type="submit" name="archivar">
                            <a 
                                id="link-negro" 
                                data-toggle="tooltip" 
                                data-placement="bottom" 
                                data-original-title="Archicar">
                                <i class="icon-folder-open "></i>
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="span1" style="margin-left:20px">
                <form class="navbar-search pull-left" action='/{{ nombre_action }}'>
                    <input type="text" class="search-query" placeholder="Buscar memo..">
                </form>
                
            </div>
            </div>
            </div>
        </div>
</div>
<!-- ACCIONES -->

<!-- BUZÓN -->
<div>
  <div class="container">
        <div class="container-narrow">
            <div class="row-fluid">
                <div class="span3">
                <div class="strip strip-white" id="strip-grey-degradado" style="padding:1px 0px 0px 0px; min-height: 350px">
                    <ul class="nav nav-list">
                        {% include "usuario/mensajes/lista_menu_mensajes.html" %}
                        <li class="divider"></li>
                        <li class="nav-header">Acciones</li>
                    </ul>
                </div>
                </div>
                <!-- BUZÓN -->

                <div>
                    
                </div>





                <!-- ENTRADA -->
                <div class="span9 row-fluid" style="margin-left:0px"> 
                    {% csrf_token %}
                    <table class="table table-striped">
                        <form method="post" action="">
                            <tbody>
                                <th><input type="checkbox" id="select_all_items" onchange="javascript:selectAllItems()" name="select_all_items"/></th>
                                <th></th>
                                {% ifequal tipo_bandeja 'enviados'%}
                                <th>Para</th>
                                {% else %}
                                <th>De</th>
                                {% endifequal %}
                                <th>Asunto</th>
                                <th>Fecha</th>
                                {% load inbox %}
                                {% for form in message_list %}
                                <tr>
                                <td>
                                    <input type="checkbox" class="chkSelectItem" name="seleccion" value="{{ form.id.value }}"/>
                                </td>
                                <td>
                                    {{ form.id|icon_status }}
                                </td>
                                <td>
                                    {% ifequal tipo_bandeja 'enviados' %}
                                        <a href="/leer/{{ form.id }}">
                                            {{ 'recipient'|destin:form.id }}
                                        </a>
                                    {% else %}

                                        <a href="/leer/{{ form.id }}">
                                            {{ 'sender'|destin:form.id }}
                                        </a>
                                    {% endifequal %}
                                </td>
                                <td>
                                    <a href="{% url 'messages_detail' form.id %}">
                                        {{ form.subject }}
                                    </a>
                                </td>
                                <td >

                                    {#<a id="table-striped-degradado"href="{% url 'messages_detail' form.id %}">{{ form.sent_at|date:"D d M P" }}</a>#}

                                    <a href="{% url 'messages_detail' form.id %}" >
                                        {{ form.sent_at|date:"D d M P" }}
                                    </a>
                                </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </form>
                    </table>
                </div>
                <!-- ENTRADA -->

            </div>
        </div>
    </div>
</div>


                    

                   
<!-- 

    <div class="container-narrow"> 

        <div class="row-fluid">
            <form method="post" action="">
                <div class="span3">
                    <ul class="nav nav-list pull-right">
                        {% include "usuario/mensajes/lista_menu_mensajes.html" %}
                        <li class="divider"></li>
                        <li class="nav-header">Acciones</li>
                        <button class="btn btn-primary" type="submit" name="archivar">Archivar</button>
                    </ul>
                </div>


                <div class="span9">
                    {% if mensaje %}
                        <div class="alert alert-{{ tipo_mensaje }}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>{{ expresion }}</strong>{{ mensaje }}.
                        </div>
                    {% endif %}


                    {% csrf_token %}
                    <div class="strip strip-white strip-grey" style="padding:1px 0px 0px 0px; min-height: 350px">
                        <div class="pagination">
                          <ul>
                            {% if contacts.has_previous %}
                                <li>
                                    <a href="?page={{ message_list.previous_page_number }}">
                                        Anterior
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="#">
                                    Página {{ message_list.number }} de {{ message_list.paginator.num_pages }}.
                                </a>
                            </li>
    

        
                            {% if contacts.has_next %}
                                <li>
                                    <a href="#"><a href="?page={{ message_list.next_page_number }}">
                                        Siguiente
                                    </a>
                                </li>
                                
                            {% endif %}

                          </ul>
                        </div>

                        <table class="table" style="background-color:#FFF">
                            
                            <tbody>
                                <th>
                                    <input type="checkbox" id="select_all_items" onchange="javascript:selectAllItems()" name="select_all_items" />
                                </th>
                                <th>Estado</th>
                                {% ifequal tipo_bandeja 'enviados'%}
                                    <th>Para</th>
                                {% else %}
                                    <th>De</th>
                                {% endifequal %}
                                <th>Asunto</th>
                                <th>Fecha</th>
                                {% load inbox %}
                                {% for form in message_list %}
                                    <tr>
                                            <td>
                                                <input type="checkbox" class="chkSelectItem" name="seleccion" value="{{ form.id.value }}"/>
                                            </td>
                                            <td>
                                                {{ form.id|icon_status }}
                                            </td>
                                            <td>
                                                {% ifequal tipo_bandeja 'enviados' %}
                                                    <a href="/leer/{{ form.id }}">
                                                        {{ 'recipient'|destin:form.id }}
                                                    </a>
                                                {% else %}

                                                    <a href="/leer/{{ form.id }}">
                                                        {{ 'sender'|destin:form.id }}
                                                    </a>
                                                {% endifequal %}
                                            </td>
                                            <td>
                                                <a href="{% url 'messages_detail' form.id %}">
                                                    {{ form.subject }}
                                                </a>
                                            </td>
                                            <td>
<!
                                                {#<a href="{% url 'messages_detail' form.id %}">{{ form.sent_at|date:"D d M P" }}</a>#}

                                                <a href="{% url 'messages_detail' form.id %}">
                                                    {{ form.sent_at|date:"D d M P" }}
                                                </a>
                                            </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div> --> 
</body>

<!-- {% include "usuario/pie.html" %} -->
