{% include "usuario/base.html" %}
{% load admin_static %}



<body>

<!-- ACCIONES -->
  {% include "usuario/mensajes/acciones.html" %}
<!-- ACCIONES -->


    <div>
        <div class="container">
            <div class="container-narrow">
                <div class="row-fluid">

                    <!-- BUZÓN -->
                    <div class="span3">
                    <div class="strip strip-white" id="strip-grey-degradado" style="padding:1px 0px 0px 0px; min-height: 635px">
                        <ul class="nav nav-list">
                            {% include "usuario/mensajes/lista_menu_mensajes.html" %}
                            <li class="divider"></li>
                            <li class="nav-header">Acciones</li>
                        </ul>
                    </div>
                    </div>
                    <!-- BUZÓN -->

                    <!-- LEER -->

                    <div class="span9 row-fluid">

                        {% csrf_token %}
                        <div class="accordion" id="accordion2">
                          <div class="accordion-group">
                            <div class="accordion-heading">
                                <div class="row accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" style="margin: 0px">
                                    <div class="span9"> 
                                        <a>
                                            <h3 style="line-height:5px">{{ message.subject }} <br /></h3>
                                            {{ message.recipient }}
                                        </a>
                                    </div> 
                                    <div class="pull-right">
                                        <a>
                                            {{ message.sent_at|date:"D d M P" }}
                                        </a>
                                    </div> 
                                </div>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse in">
                                <div class="accordion-inner">


                            <div > 
                            <i class="icon-chevron-sign-down"></i>
                                    <a
                                    class="icon-info-sign"
                                    data-toggle="popover"
                                    data-placement="light"
                                    data-html="true" 
                                    title=
                                    "<div>
                                        <div class='dl-horizontal' >
                                            <dt>Para:</dt>
                                            <dt>De:</dt>
                                            <dt>Fecha:</dt>
                                            <dt>Ident:</dt>
                                            <dd>{{ message.recipient}}</dd>
                                            <dd>{{ jefe }}</dd>
                                            <dd>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</dd>
                                            <dd>{{ message.sender.usuarios.persona.cargo_principal.dependencia.dependencia.nivel }}.{{ message.sender.usuarios.persona.cargo_principal.dependencia.nivel }}.{{ message.sender.usuarios.persona.cargo_principal.dependencia.siglas }} - {{ message.id }}</dd>
                                        </div>
                                    </div>">
                                    </a>
                                    </div>


    <div>{{ message.body|linebreaksbr }}

                                <br /><br />

                                {{ message.codigo }}

                                {% load menu %}
                                {{ jefe|nombre_iniciales }}/{{ message.sender|nombre_iniciales|lower }}
</div>


                        {% comment %}
                       <!--  <div class="btn-group"> 
                            <button data-toggle="dropdown">
                                <a 
                                    id="link-negro" 
                                    data-placement="bottom">
                                    <i class="icon-caret-down"></i>
                                </a>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" >
                                <li><a tabindex="-1" href="{% url 'redactar' %}">Nuevo Memo</a></li>
                                <li><a tabindex="-1" href="{% url 'reportes' %}">Nuevo Reporte</a></li>
                            </ul>
                        </div> -->

                        {% endcomment %}
                                </div>

                            </div>
                          </div>
                        </div> 
                    </div>
                    <!-- LEER -->

                </div>
            </div>
        </div>
    </div>
























<!-- LEER MENSAJES -->


  <div class="container">
    <div class="container-narrow">
        <div class="row-fluid">
            <div class="span3">
                <div class="strip strip-white" id="strip-grey-degradado" style="padding:1px 0px 0px 0px; min-height: 350px">
                    <ul class="nav nav-list">
                        {% include "usuario/mensajes/lista_menu_mensajes.html" %}
                        <li class="divider"></li>
                        <li class="nav-header">Acciones</li>
                    </ul>
                </div>
            </div>

            <div class="span9 row-fluid"> 
                <table width=100%>
                    <tr>
                    <td rowspan="3" align=center>
                         <img width=150px src="{% static "images/institucion.jpg" %}" alt="">
                    </td>
                        <td align=center>
                            REPÚBLICA BOLIVARIANA DE VENEZUELA
                        </td>
                    </tr>
                    <tr>
                        <td align=center>
                            MINISTERIO DEL PODER POPULAR PARA LA EDUCACIÓN SUPERIOR
                        </td>
                    </tr>
                    <tr>
                        <td align=center>
                            UNIVERSIDAD "RÓMULO GALLEGOS"
                        </td>
                    </tr>
                </table>
                <br /><br />
                <table width=100%>
                    <tbody>
                        <tr>
                            <td colspan=2>
                                {{ message.sender.usuarios.persona.cargo_principal.dependencia.dependencia.nivel }}.{{ message.sender.usuarios.persona.cargo_principal.dependencia.nivel }}.{{ message.sender.usuarios.persona.cargo_principal.dependencia.siglas }} - {{ message.id }}
                            </td>
                        </tr>
                        <tr><td><br /></td></tr>
                        <tr>
                            <td align=left width=15%>
                                <strong>Para:</strong>
                            </td>
                            <td align=left>
                                {{ message.recipient}}
                            </td>
                        </tr>
                        <tr>
                            <td align=left width=15%>
                                <strong>De:</strong>
                            </td>
                            <td align=left>
                                {{ jefe }}
                            </td>
                        </tr>
                        <tr>
                            <td align=left width=15%>
                                <strong>Fecha:</strong>
                            </td>
                            <td align=left width=75%>
                                {{ message.sent_at|date:_("DATETIME_FORMAT")}}
                            </td>
                        </tr>
                        <tr>
                            <td align=left width=15%>
                                <strong>Asunto:</strong>
                            </td>
                            <td align=left width=75%>
                                {{ message.subject }}
                            </td>
                        </tr>
                        <tr><td><br /></td></tr>
                        <tr>
                            <td align=left width=15%>
                            </td>
                            <td align=justify width=25%>
                                {{ message.body|linebreaksbr }}
                            </td>
                        </tr>
                        <tr>
                            <td align=left width=15%>
                                {% load menu %}
                                {{ jefe|nombre_iniciales }}
                            </td>
                        </tr>
                        <tr>
                            <td width=15%>
                                <strong>Leído por:</strong>
                            </td>
                            <td width=75%>
                                <div class=error>Nadie</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                {% load responder_memos %}
                {% if message.borrador %}
                    <a href="{% url 'redactar' message.id %}">Seguir editando</a>
                {% endif %}
                {% ifequal message.estatus.nombre 'Aprobado' %}
                    {{ message.id|responder_memo:user.id }}
                {% endifequal %}

            </div>
        </div>
    </div>
  </div>
</body>

{% include "usuario/pie.html" %}
