{% load menu%}
<li class="nav-header">Buzón</li>
<li {{ request|active:'entrada' }}>
	<a href="{% url 'bandeja' 'entrada' %}">
	<i class="icon-download-alt"></i><strong>Recibidos</strong></a>
</li>
<li {{ request|active:'enviados' }}>
	<a href="{% url 'bandeja' 'enviados' %}">
	<i class="icon-share-alt"></i><strong>Enviados</strong></a>
</li>
<li {{ request|active:'borradores' }}>
	<a href="#"><i class=" icon-file"></i><strong>Borradores</strong></a>
</li>
<li {{ request|active:'archivados' }}>
	<a href="#"><i class="icon-folder-open"></i><strong>Archivados</strong></a>
</li>
