{% load menu%}

<li class="nav-header bs-docs-sidenav">Buzón</li>
<li {{ request|active:'entrada' }} id="li-ancho">
	<a href="{% url 'bandeja' 'entrada' %}" id="link-negro">
	<i class="icon-download-alt icon-large"></i>Recibidos
        {% ifnotequal request|num_entrada 0 %}
            <span class="label label-info pull-right">
                    {{ request|num_entrada }}
            </span>
        {% endifnotequal %}
    </a>
</li>
<li {{ request|active:'enviados' }} id="li-ancho">
	<a href="{% url 'bandeja' 'enviados' %}" id="link-negro">
	<i class="icon-mail-forward icon-large"></i>Enviados</a>
</li>
<li {{ request|active:'borradores' }} id="li-ancho">
	<a href="#" id="link-negro">
	<i class=" icon-file icon-large"></i>Borradores</a>
</li>
<li {{ request|active:'archivados' }} id="li-ancho">
	<a href="#" id="link-negro">
	<i class="icon-folder-open icon-large"></i>Archivados</a>
</li>
