{% include "usuario/base.html" %}
{% load admin_static %} 
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
      <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
function split( val ) {
return val.split( /,\s*/ );
}
function extractLast( term ) {
return split( term ).pop();
}

$( "#usuarios" )
// don't navigate away from the field on tab when selecting an item
.bind( "keydown", function( event ) {
if ( event.keyCode === $.ui.keyCode.TAB &&
$( this ).data( "ui-autocomplete" ).menu.active ) {
event.preventDefault();
}
})
.autocomplete({
source: function( request, response ) {
$.get( "/lookup/", {
term: extractLast( request.term )
}, response );
},
search: function() {
// custom minLength
var term = extractLast( this.value );
if ( term.length < 2 ) {
return false;
}
},
focus: function() {
// prevent value inserted on focus
return false;
},
select: function( event, ui ) {
var terms = split( this.value );
// remove the current input
terms.pop();
// add the selected item
terms.push( ui.item.value );
// add placeholder to get the comma-and-space at the end
terms.push( "" );
this.value = terms.join( ", " );
return false;
}
});
});
</script>


<script>
$(document).ready(function() {
$("#typeahead").typeahead({
    minLength: 4,
    source: function (query, process) {
        $.ajax({
            type: "get",
            url: "/lookup",
            data: "palabra=" + query,
            cache: false,
            dataType: 'json',
        });
    },
});
});
</script>

<script type="text/javascript" >

$(document).ready(function() {
$("#typeahead").typeahead({
    minLength: 4,
    source: function (query, process) {
        $.ajax({
            type: "get",
            url: "/lookup",
            data: "palabra=" + query,
            cache: false,
            dataType: 'json',
            success: function (data) {
                $.each(data, function (i, message) {
                    msg[message.subject] = product;
                    message.push(message.name);
                    msg[message.sender] = product;
                    message.push(message.sender);
                });
                return process(message);
            }
        });
    },
    updater: function (item) {
        if (jQuery.type(msg[item]) !== 'undefined'){
            selectedProduct = msg[item].id;
            //console.log(selectedProduct);
            document.location = “/search?id=” + encodeURIComponent(selectedProduct);
        }
        return item;
    },
    matcher: function (item) {
        if (item.toLowerCase().indexOf(this.query.trim().toLowerCase()) != -1) {
            return true;
        }
    },
    sorter: function (items) {
        items.unshift(this.query);
        return items;
    }
});
</script>

<body>
    <div class="container-narrow"> 
        <div class="row-fluid">
            <div class="span3">
                <ul class="nav nav-list pull-right">
                    {% include "usuario/mensajes/lista_menu_mensajes.html" %}
                </ul>
            </div>
            <div class="span9">
                <div class="strip strip-white strip-grey" style="min-height: 350px">
                    <form action="" method="post">
                        <table width=100%>
                            <tbody>
                                <tr>
                                    <td rowspan="3" align=center>
                                        <img width=150px src="{% static "images/logo_unerg.png" %}" alt="">
                                    </td>
                                    <td align=center>
                                        REPÚBLICA BOLIVARIANA DE VENEZUELA
                                    </td>
                                </tr>
                                <tr>
                                    <td align=center>
                                        MINISTERIO DEL PODER POPULAR PARA LA EDUCACIÓN SUPERIOR
                                    </td>
                                </tr>
                                <tr>
                                    <td align=center>
                                        UNIVERSIDAD "RÓMULO GALLEGOS"
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br /><br />
                        <table width=100%>
                            <tbody>
                                <tr>
                                    <td colspan=2>
                                        {{ request.user.profile.persona.cargo_principal.dependencia.dependencia.nivel }}.{{ request.user.profile.persona.cargo_principal.dependencia.nivel }}.{{ request.user.profile.persona.cargo_principal.dependencia.siglas }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br /><br />
                        {% csrf_token %} 
                        <table>
                            <tbody>
                                <!-- recipient -->
                                <tr>
                                    <td>
                                        <b>{{ form.recipient.label }}</b>
                                    </td>
                                    <td>
                                        <input id="usuarios" type=text data-provide="typeahead" size="50" name="recipient"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>{{ form.con_copia.label }}</b>
                                    </td>
                                    <td>
                                        {{ form.con_copia }} 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Adjuntar</b>
                                    </td>
                                    <td>
                                        {{ form.archivo }} 
                                    </td>
                                </tr>
                                <tr>
                                    <td width=15%>
                                        <b>{{ form.subject.label }}</b>
                                    </td>
                                    <td width=85%>
                                        {{ form.subject }} 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>{{ form.body.label }}: </b>
                                    </td>
                                    <td width=100% colspan="4">
                                        {{ form.body }}
                                    </td>
                                </tr>
                            </body>
                        </table>
                        <table width=100%>
                            <tbody>
                                <tr>
                                    <td>
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td align=center>
                                        <input type="submit" value="Enviar" class="boton"/>
                                    </td>
                                </tr>
                            </body>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

{% include "usuario/pie.html" %}
