{% include "usuario/base.html" %}
{% load admin_static %} 


<script type="text/javascript">
    $(document).ready(function() {
        $('#summernote').summernote({
          height: 300,
          focus: true 
        });
    });
    setInterval(function() {
          // Do something every 5 seconds
        document.getElementById('borrador').click();
    }, 300000);
</script>




<body>

<!-- ACCIONES -->
  {% include "usuario/mensajes/acciones.html" %}
<!-- ACCIONES -->


    <div>
        <div class="container">
            <div class="container-narrow">
                <div class="row-fluid">
                    <!-- BUZÓN -->
                    <div class="span3">
                    <div class="strip strip-white" id="strip-grey-degradado" style="padding:1px 0px 0px 0px; min-height: 635px">
                        <ul class="nav nav-list">
                            {% include "usuario/mensajes/lista_menu_mensajes.html" %}
                            <li class="divider"></li>
                            <li class="nav-header">Acciones</li>
                        </ul>
                    </div>
                    </div>
                    <!-- BUZÓN -->

                    <!-- REDACTAR -->
                    <div class="span9 row-fluid">
                        <form action="" method="post">
                        {% csrf_token %}
                            <table style="margin-top:5px">
                                <tbody>               
                                    <tr>
                                      <th>Para:</th>
                                      <th>{{ form.recipient }}</th>
                                    </tr>
                                    <tr>                    
                                      <td>Copia:</td>
                                      <td>{{ form.con_copia }}</td>
                                    </tr>
                                    <tr>                    
                                      <th>Asunto:</th>
                                      <td>{{ form.subject }}</td>
                                    </tr>
                                    <tr>                    
                                      <td>Adjuntar:</td>
                                      <td>{{ form.archivo }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            {{ form.body }}
                                        </td>
                                    </tr>
                                    <tr>                    
                                      <td colspan=2></td>
                                    </tr>
                                </tbody>
                            </table>

                            <button 
                                class="btn btn-primary pull-right" 
                                style="margin: 10px 0px 0px 10px" 
                                type="submit"
                                name="enviar">
                                Enviar
                            </button>
                            
                            <a
                                class="btn pull-right" 
                                style="margin: 10px 0px 0px 10px" 
                                name="previsualizar"
                                href="{% url 'leer' message.id %} ">
                                Previsualizar
                            </a>

                            <button 
                                class="btn pull-right" 
                                style="margin: 10px 0px 0px 10px" 
                                type="submit"
                                id="borrador"
                                name="borrador">
                                Guardar como borrador
                            </button>
                         
                            {% comment %}
                            <button 
                                class="btn pull-right" 
                                style="margin-top:10px" 
                                type="submit"
                                name="plantilla">
                                Guardar como plantilla
                            </button>
                            {% endcomment %}
                        </form>
                    </div>








                    <!-- REDACTAR -->


                </div>
            </div>
        </div>                  
    </div>
</body>





<!-- 
    <div class="container-narrow"> 
        <div class="row-fluid">
            <div class="span3">
                <ul class="nav nav-list pull-right">
                    {% include "usuario/mensajes/lista_menu_mensajes.html" %}
                </ul>
            </div>
            <div class="span9">
                {% if mensaje %}
                    <div class="alert alert-{{ tipo_mensaje }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ expresion }}</strong>{{ mensaje }}.
                    </div>
                {% endif %}
                <div class="strip strip-white strip-grey" style="min-height: 350px">
                    <form action="" method="post">
                        <table width=100%>
                            <tbody>
                                <tr>
                                    <td rowspan="3" align=center>
                                        <img width=150px src="{% static "images/logo_unerg.png" %}" alt="">
                                    </td>
                                    <td align=center>
                                        REPÚBLICA BOLIVARIANA DE VENEZUELA
                                    </td>
                                </tr>
                                <tr>
                                    <td align=center>
                                        MINISTERIO DEL PODER POPULAR PARA LA EDUCACIÓN SUPERIOR
                                    </td>
                                </tr>
                                <tr>
                                    <td align=center>
                                        UNIVERSIDAD "RÓMULO GALLEGOS"
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br /><br />

                        <table width=100%>
                            <tbody>
                                <tr>
                                    <td colspan=2>
                                        {{ request.user.profile.persona.cargo_principal.dependencia.dependencia.nivel }}.{{ request.user.profile.persona.cargo_principal.dependencia.nivel }}.{{ request.user.profile.persona.cargo_principal.dependencia.siglas }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br /><br />
                        {% csrf_token %} 
                        <table>
                            <tbody>
                                <!-- recipient 
                                <tr>
                                    <td>
                                        <b>{{ form.recipient.label }}</b>
                                    </td>
                                    <td>
                                        <!--<input id="usuarios" type=text data-provide="typeahead" size="50" name="recipient"/>
                                        {{ form.recipient }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>{{ form.con_copia.label }}</b>
                                    </td>
                                    <td>
                                        <b>{{ form.con_copia }}</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Adjuntar</b>
                                    </td>
                                    <td>
                                        {{ form.archivo }} 
                                    </td>
                                </tr>
                                <tr>
                                    <td width=15%>
                                        <b>{{ form.subject.label }}</b>
                                    </td>
                                    <td width=85%>
                                        {{ form.subject }} 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>{{ form.body.label }}: </b>
                                    </td>
                                    <td width=100% colspan="4">
                                    </td>
                                </tr>
                            </body>
                        </table>
                        <table width=100%>
                            <tbody>
                                <tr>
                                    <td>    
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td align=center>
                                        <input type="submit" value="Enviar" class="boton"/>
                                    </td>
                                </tr>
                            </body>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
</body>

{% include "usuario/pie.html" %}
