<!DOCTYPE html>
<html>
<head>
{% include "user/base.html" %} 
{% load admin_static %}
{% load i18n %}
<title>Inicio</title>
<meta charset="utf-8">




                        <style type="text/css">
                        @media print { #djDebug {display:none;}}
                        </style>
                        <link rel="stylesheet" href="{{ STATIC_URL }}css/toolbar.css" type="text/css">
                        <script type="text/javascript" src="{{ STATIC_URL }}js/toolbar.min.js"></script>
                        <div id="djDebug" style="display:none;" dir="ltr">
                            <div style="display:none;" id="djDebugToolbar">
                                <ul id="djDebugPanelList">
                                    <li id="djDebugButton">Memorándums</li>
                                    <li>
                                        <a id="djHideToolBarButton" href="#" title="Ocultar barra">
                                            &raquo;
                                        </a>
                                    </li>

                                    <li class="djDebugPanelButton">
                                        <a href="{{Entrada|default:"#"}}" title="Entrada">
                                            Entrada
                                        </a>
                                    </li>

                                    <li class="djDebugPanelButton">
                                        <a href="/admin" title="Enviados">
                                            Enviados
                                        </a>
                                    </li>

                                    <li class="djDebugPanelButton">
                                        <a href="#" title="Borradores">
                                            Borradores
                                        </a>
                                    </li>

                                    <li class="djDebugPanelButton">
                                        <a href="#" title="Archivos">
                                            Archivos
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div style="display:none;" id="djDebugToolbarHandle">
                                <a title="{% trans "Show Toolbar" %}" id="djShowToolBarButton" href="#">Abrir menú&laquo;</a>
                            </div>

                                <div id="Entrada" class="panelContent">
                                    <div class="djDebugPanelTitle">
                                        <a href="" class="djDebugClose">Cerrar</a>
                                        <h3>Entrada</h3>
                                    </div>
                                    <div class="djDebugPanelContent">
                                        <div class="scroll">
                                            Prueba
                                        </div>
                                    </div>
                                </div>

                                <!--
                                <div id="{{ panel.dom_id }}" class="panelContent">
                                    <div class="djDebugPanelTitle">
                                        <a href="" class="djDebugClose">{% trans "Close" %}</a>
                                        <h3>{{ panel.title|safe }}</h3>
                                    </div>
                                    <div class="djDebugPanelContent">
                                        <div class="scroll">
                                            {{ panel.content|safe }}
                                        </div>
                                    </div>
                                </div>
                                -->
                            <div id="djDebugWindow" class="panelContent"></div>
                        </div>














<script type="text/javascript" src="{% static "js/cufon-yui.js" %}"></script>
<script type="text/javascript" src="{% static "js/cufon-replace.js" %}"></script>  
<script type="text/javascript" src="{% static "js/Copse_400.font.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.nivo.slider.pack.js" %}"></script>
<script type="text/javascript" src="{% static "js/imagepreloader.js" %}"></script>
<script type="text/javascript">
	preloadImages([
	'/static/images/menu1_active.gif',
	'/static/images/menu2_active.gif',
	'/static/images/menu3_active.gif',
	'/static/images/menu4_active.gif',
	'/static/images/marker_right_active.jpg',
	'/static/images/marker_left_active.jpg',
	'/static/images/menu5_active.gif']);
</script>
<!--[if lt IE 9]>
	<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
	<div class="body2">
		<div class="main">
<!-- header -->
			<header>
                {% include "user/banner.html" %}
				<nav id="menu">
					<ul>
                        {% load menu %}
                        {{ 'Perfil'|menu }}
					</ul>
				</nav>
			</header>
        </div>
	</div>
<!-- / header -->
<!-- content -->
	<div class="body5">
		<div class="body6" id="Menu">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="{% static "images/letter4.png" %}" alt=""></figure>
					<h2><span>Perfil - Cambiar contraseña</span></h2>
                    Recuerda cambiar tu contraseña regularmente, de tal forma que si alguien está intentando descifrarla a través de algún tipo de ataque, cuando la capte, ya no le sirva puesto que ha sido renovada.
                    {% if mensaje %}
                        <span class="tooltip">{{ mensaje }}</span>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="body7">

		<div class="main">
			<section id="content">
                <div class="wrapper">
                    <article>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <table>
                                <tbody>
                                    <tr>
                                        </td>
                                            {{ form }}
                                        <td>
                                    </tr>
                                </tbody>
                            </table>
                        <input type="submit" value="Enviar" class="btn button"/>
                        </form>
                    </article>
                </div>

			</section>
		</div>
	</div>
			<!-- / content -->
            {% include "user/pie.html" %}
            <>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<script type="text/javascript">
	$(window).load(function() {
	$('#slider').nivoSlider({
        effect:'sliceDown', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft'    
        slices:20,
        animSpeed:300,
        pauseTime:9999999999,
        startSlide:0, //Set starting Slide (0 index)
        directionNav:true, //Next & Prev
        directionNavHide:false, //Only show on hover
        controlNav:false, //1,2,3...
        controlNavThumbs:false, //Use thumbnails for Control Nav
        controlNavThumbsFromRel:false, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav:true, //Use left & right arrows
        pauseOnHover:true, //Stop animation while hovering
        manualAdvance:false, //Force manual transitions
        captionOpacity:1, //Universal caption opacity
        beforeChange: function(){},
        afterChange: function(){},
        slideshowEnd: function(){} //Triggers after all slides have been shown
    });
    });
</script>
</body>
</html>

