<!DOCTYPE html>
<html>
<head>
{% include "user/base.html" %} 
{% load admin_static %}
{% load i18n %}
<title>Inicio</title>
<meta charset="utf-8">

<script type="text/javascript" src="{% static "js/cufon-yui.js" %}"></script>
<script type="text/javascript" src="{% static "js/cufon-replace.js" %}"></script>  
<script type="text/javascript" src="{% static "js/Copse_400.font.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.nivo.slider.pack.js" %}"></script>
<script type="text/javascript" src="{% static "js/imagepreloader.js" %}"></script>
<script type="text/javascript">
	preloadImages([
	'/static/images/menu1_active.gif',
	'/static/images/menu2_active.gif',
	'/static/images/menu3_active.gif',
	'/static/images/menu4_active.gif',
	'/static/images/marker_right_active.jpg',
	'/static/images/marker_left_active.jpg',
	'/static/images/menu5_active.gif']);
</script>
<!--[if lt IE 9]>
	<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
	<div class="body2">
		<div class="main">
<!-- header -->
			<header>
                {% include "user/banner.html" %}
				<nav id="menu">
					<ul>
                        {% load menu %}
                        {{ 'Perfil'|menu }}
					</ul>
				</nav>
			</header>
        </div>
	</div>
<!-- / header -->
<!-- content -->
	<div class="body5">
		<div class="body6" id="Menu">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="{% static "images/letter4.png" %}" alt=""></figure>
					<h2><span>Perfil</span></h2>
                    Acá puedes proporcionar datos personales, como tus nombres, apellidos, número telefónicos, así como poder cambiar tu contraseña y más.
                    {% if mensaje %}
                        <span class="tooltip">{{ mensaje }}</span>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="body7">

		<div class="main">
			<section id="content">
                <div class="wrapper" style="margin-left: 30%;">
                    <article>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <table align=center>
                                <tbody>
                                    <tr>
                                        <td><strong>{{ persona.primer_nombre.label }}</strong></td>
                                        <td>{{ persona.primer_nombre }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>{{ persona.segundo_nombre.label }}</strong></td>
                                        <td>{{ persona.segundo_nombre }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>{{ persona.primer_apellido.label }}</strong></td>
                                        <td>{{ persona.primer_apellido }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>{{ persona.segundo_apellido.label }}</strong></td>
                                        <td>{{ persona.segundo_apellido }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>{{ persona.genero.label }}</strong></td>
                                        <td>{{ persona.genero }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>{{ persona.telefono.label }}</strong></td>
                                        <td>{{ persona.telefono }}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align=center colspan=2>
                                            <input type="submit" value="Enviar" class="boton"/>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </article>
                Si deseas cambiar tu contraseña, por favor ingresa <a href="/perfil/cambiar_clave">aquí</a>
                </div>
                <br />

			</section>
		</div>
	</div>
			<!-- / content -->
            {% include "user/pie.html" %}
            <>
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<script type="text/javascript">
	$(window).load(function() {
	$('#slider').nivoSlider({
        effect:'sliceDown', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft'    
        slices:20,
        animSpeed:300,
        pauseTime:9999999999,
        startSlide:0, //Set starting Slide (0 index)
        directionNav:true, //Next & Prev
        directionNavHide:false, //Only show on hover
        controlNav:false, //1,2,3...
        controlNavThumbs:false, //Use thumbnails for Control Nav
        controlNavThumbsFromRel:false, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav:true, //Use left & right arrows
        pauseOnHover:true, //Stop animation while hovering
        manualAdvance:false, //Force manual transitions
        captionOpacity:1, //Universal caption opacity
        beforeChange: function(){},
        afterChange: function(){},
        slideshowEnd: function(){} //Triggers after all slides have been shown
    });
    });
</script>
</body>
</html>

