<!DOCTYPE html>
{% include "user/base.html" %} 
{% load admin_static %}
<html lang="es">
<head>
<title>Inicio</title>
<meta charset="utf-8">
<script type="text/javascript" src="{% static "js/cufon-yui.js" %}"></script>
<script type="text/javascript" src="{% static "js/cufon-replace.js" %}"></script>  
<script type="text/javascript" src="{% static "js/Copse_400.font.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.nivo.slider.pack.js" %}"></script>
<script type="text/javascript" src="{% static "js/imagepreloader.js" %}"></script>
<link href="{% static "css/jquery-ui.css" %}" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
<script type="text/javascript">
	preloadImages([
	'/static/images/menu1_active.gif',
	'/static/images/menu2_active.gif',
	'/static/images/menu3_active.gif',
	'/static/images/menu4_active.gif',
	'/static/images/marker_right_active.jpg',
	'/static/images/marker_left_active.jpg',
	'/static/images/menu5_active.gif']);
</script>

<script>
$(document).ready(function() {
    $("#datepicker1").datepicker();
});

$(document).ready(function() {
    $("#datepicker2").datepicker();
});
</script>

<!--[if lt IE 9]>
	<script type="text/javascript" src="http://info.template-help.com/files/ie6_warning/ie6_script_other.js"></script>
	<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page1">
<div class="body1">
	<div class="body2">
		<div class="main">
<!-- header -->
			<header>
                <!--
                {% include "user/banner.html" %}
				<nav id="menu">
					<ul>
                        {% load menu %}
                        {{ 'Inicio'|menu }}
					</ul>
				</nav>
                -->
                {% include "user/banner.html" %}
                    {% if request.user.is_authenticated %}
                        <nav id="menu">
                    {% else %}
                        <nav id="menu" style='margin-top:0px'>
                    {% endif %}
                        <ul>
                            {% load menu %}
                            {{ 'Manual'|menu }}
                        </ul>
                    </nav>
			</header>
        </div>
	</div>
<!-- / header -->
<!-- content -->
	<div class="body5" id=Menu>
		<div class="body6">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="{% static "images/letter2.png" %}" alt=""></figure>
					<h2>Manual de usuario</h2>
                    ¿Necesitas algo de ayuda? Acá encontrarás un poco más de información acerca de los primeros pasos en el sistema, cómo se utilizan los módulos del sistema o un poco más sobre las normas.
                    {% if mensaje %}
                        <span class="tooltip">{{ mensaje }}</span>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>
	<div class="body7">
		<div class="main">
			<section id="content">
				<div class="wrapper">
                <article class="col2">
                    <h2 style="padding:0 0 0 0"><span>{{ titulo }}</span></h2>
                    {% if manuales.exists %}
                        {% for manual in manuales %}
                            <ul class="list1">
                                <div class="box2">
                                    <div class="box2_top">	
                                        <div class="box2_bot">	
                                            <div class="pad">
                                                <div class="wrapper">
                                                    <figure class="left"><img src="{% static "images/marker_1.gif"%}" alt=""></figure>
                                                    <div class="cols">
                                                        <strong><a>{{ manual.titulo }}</a></strong>
                                                        {% for detalle in manual.manual_detalles_set.get_query_set %}
                                                            {{ detalle.texto }}
                                                            <img src="{{ detalle.imagen.url }}" />
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        {% endfor %}
                    {% else %}
                        <ul class="list1">
                            <div class="box2">
                                <div class="box2_top">	
                                    <div class="box2_bot">	
                                        <div class="pad">
                                            <div class="wrapper">
                                                <figure class="left"><img src="{% static "images/marker_1.gif"%}" alt=""></figure>
                                                <div class="cols">
                                                    <a href=/ayuda/primeros_pasos/><b>¿Cómo empezar a utilizar Umail?</b></a>
                                                    ¿Ya te asignaron una cuenta? ¡Genial! En esta sección podrás conocer sobre tus primeros pasos en Umail.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                        <ul class="list1">
                            <div class="box2">
                                <div class="box2_top">	
                                    <div class="box2_bot">	
                                        <div class="pad">
                                            <div class="wrapper">
                                                <figure class="left"><img src="{% static "images/marker_1.gif"%}" alt=""></figure>
                                                <div class="cols">
                                                    <a href='/ayuda/general/'><b>Conociendo el sitio...</b></a>
                                                    ¿Ya has estado por aquí algunas veces pero aún necesitas más ayuda? Revisa toda la ayuda que hay para manejar a la perfección la sección de memos, reportes, noticias, contactos, y más.....
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    {% endif %}
                </article>
                {% include 'user/manual_usuario/menu.html' %}
				</div>
			</section>
		</div>
	</div>
			<!-- / content -->
            {% include "user/pie.html" %}
	</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
<script type="text/javascript">
	$(window).load(function() {
	$('#slider').nivoSlider({
        effect:'sliceDown', //Specify sets like: 'fold,fade,sliceDown, sliceDownLeft, sliceUp, sliceUpLeft, sliceUpDown, sliceUpDownLeft'    
        slices:20,
        animSpeed:300,
        pauseTime:9999999999,
        startSlide:0, //Set starting Slide (0 index)
        directionNav:true, //Next & Prev
        directionNavHide:false, //Only show on hover
        controlNav:false, //1,2,3...
        controlNavThumbs:false, //Use thumbnails for Control Nav
        controlNavThumbsFromRel:false, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav:true, //Use left & right arrows
        pauseOnHover:true, //Stop animation while hovering
        manualAdvance:false, //Force manual transitions
        captionOpacity:1, //Universal caption opacity
        beforeChange: function(){},
        afterChange: function(){},
        slideshowEnd: function(){} //Triggers after all slides have been shown
    });
    });
</script>
</body>
</html>
