{% load admin_static %}
<article class="col1 pad_left1">
<h2>Secciones de ayuda</h2>
    <ul class="list2">
        <li><a href=/ayuda/Memos>Memos</a></li>
        <li><a href=/ayuda/Reportes/>Reportes</a></li>
        <li><a href=/ayuda/Perfiles/>Perfil</a></li>
        <li><a href=/ayuda/Contactos/>Contactos</a></li>
        
        <li><a><img src="{% static "images/icon1.jpg" %}" alt="">Memos</a></li>
        <li><a><img src="{% static "images/icon2.jpg" %}" alt="">Reportes</a></li>
        <li><a><img src="{% static "images/icon3.jpg" %}" alt="">Perfil</a></li>
        <li><a><img src="{% static "images/icon4.jpg" %}" alt="">Contactos</a></li>
        <li class="bg_none"><a href="#"><img src="{% static "images/icon5.jpg" %}" alt="">Información segura</a></li>
        <!--
        -->
    </ul>
</article>
