{% load admin_static %}
<article class="col1 pad_left1">
<h2>Secciones de ayuda</h2>
    <ul class="list2">
        <li><img src="{% static "images/memos.png" %}" alt=""><a href=/ayuda/Memos>Memos</a></li>
        <li><img src="{% static "images/reportes.png" %}" alt=""><a href=/ayuda/Reportes/>Reportes</a></li>
        <li><img src="{% static "images/perfil.png" %}" alt=""><a href=/ayuda/Perfiles/>Perfil</a></li>
        <li><img src="{% static "images/contactos.png" %}" alt=""><a href=/ayuda/Contactos/>Contactos</a></li>

    </ul>
</article>
