{% include "usuario/base.html" %}
{% load admin_static %} 


<body><style type="text/css">
      body {
        background-color: #f5f5f5;
      }
    </style>
        
     <div class="container">
    {% if mensaje %}
        <div class="alert alert-{{ tipo_mensaje }}" align=center>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ expresion }}</strong>{{ mensaje }}.
        </div>
    {% endif %}

      <form class="form-signin" style="max-width:600px" method="post">
        {% csrf_token %}
        <h2 class="form-signin-heading span8">Actualiza tu perfil</h2>
            <div class="row">
                <div class=span3>{{ formulario.primer_nombre.label }}</div>
                <div class=span3>{{ formulario.primer_apellido.label }}</div>
            </div>
            <div class="row">
                <div class=span3>{{ formulario.primer_nombre }}</div>
                <div class=span3>{{ formulario.primer_apellido }}</div>
            </div>

            <div class="row">
            <div class=span3>{{ formulario.segundo_nombre.label }}</div>
            <div class=span3>{{ formulario.segundo_apellido.label }}</div>
            </div>
            <div class="row">
            <div class=span3>{{ formulario.segundo_nombre }}</div>
            <div class=span3>{{ formulario.segundo_apellido }}</div>

            </div>
            <div class="row">
            <div class=span3>{{ formulario.genero.label }}</div>
            <div class=span3>{{ formulario.telefono.label }}</div>
            </div>
            <div class="row">
            <div class=span3>{{ formulario.genero }}</div>
            <div class=span3>{{ formulario.telefono }}</div>
            </div>
            <div class="row">
            <div class=span3>{{ formulario.notificaciones.label }} <small>({{ formulario.notificaciones.help_text }})</small></div>
            <button class="btn btn-large btn-primary" type="submit">Ingresar</button>
            </div>
            <div class="row">
            <div class=span3>{{ formulario.notificaciones }}</div>
            </div>

      </form>
      <div>
        <p>
            Recuerda <a href='#'>cambiar tu contraseña regularmente</a>
        </p>

      </div>

    </div> <!-- /container -->
    
        <hr style="border-width: 2px 0;">
</body>
