{% include "usuario/base.html" %}
{% load admin_static %} 


<body><style type="text/css">
      body {
        background-color: #f5f5f5;
      }
    </style>
        
     <div class="container">
        <form method="post" action="">
            {{ formulario.management_form }}
            {% csrf_token %}
            {% if formulario.errors %}
                <div class="alert alert-error" align=center>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Ha ocurrido un error.</strong>{{ formulario.errors }}.
                </div>
            {% endif %}
            {% if mensaje %}
                <div class="alert alert-{{ tipo_mensaje }}" align=center>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{ expresion }}</strong>{{ mensaje }}.
                </div>
            {% endif %}

            <div class="row">
                <h2 class="form-signin-heading" align=center>Preguntas Secretas</h2>
            </div>
            <!-- Pregunta/Respuesta 1 -->
            <div class="row" style='margin-left: 20px'>
                <div class="span3">
                    <div class="form-signin">
                        {% if formulario.pregunta_1.errors %}
                            <div class="alert alert-error" align=center>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>{{ formulario.pregunta_1.errors|striptags }}</strong>
                            </div>
                        {% endif %}
                        {{ formulario.pregunta_1 }}
                        {% if formulario.respuesta_1.errors %}
                            <div class="alert alert-error" align=center>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>{{ formulario.respuesta_1.errors|striptags }}</strong>
                            </div>
                        {% endif %}
                        <div align=center><strong>{{ extra_1 }}</strong></div>
                        {{ formulario.respuesta_1 }}
                        <input type=hidden name="pregunta_1" value={{ extra_1.id }}>
                    </div>
                </div>
            <!-- Pregunta/Respuesta 2 -->
                <div class="span3">
                    <div class="form-signin">
                        {% if formulario.pregunta_2.errors %}
                            <div class="alert alert-error" align=center>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>{{ formulario.pregunta_2.errors|striptags }}</strong>
                            </div>
                        {% endif %}
                        {{ formulario.pregunta_2 }}
                        {% if formulario.respuesta_2.errors %}
                            <div class="alert alert-error" align=center>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>{{ formulario.respuesta_2.errors|striptags }}</strong>
                            </div>
                        {% endif %}
                        <div align=center><strong>{{ extra_2 }}</strong></div>
                        {{ formulario.respuesta_2 }}
                        <input type=hidden name="pregunta_2" value={{ extra_2.id }}>
                    </div>
                </div>
            <!-- Pregunta/Respuesta 1 -->
                <div class="span3">
                    <div class="form-signin">
                        {% if formulario.pregunta_3.errors %}
                            <div class="alert alert-error" align=center>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>{{ formulario.pregunta_3.errors|striptags }}</strong>
                            </div>
                        {% endif %}
                        {{ formulario.pregunta_3 }}
                        {% if formulario.respuesta_3.errors %}
                            <div class="alert alert-error" align=center>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>{{ formulario.respuesta_3.errors|striptags }}</strong>
                            </div>
                        {% endif %}
                        <div align=center><strong>{{ extra_3 }}</strong></div>
                        {{ formulario.respuesta_3 }}
                        <input type=hidden name="pregunta_3" value={{ extra_3.id }}>
                    </div>
                </div>
            </div>
            <div class="row" align=center >
                <button class="btn btn-large btn-primary" type="submit">Enviar</button>
            </div>
        </form>

    </div> <!-- /container -->
    
        <hr style="border-width: 2px 0;">
</body>
