{% include "usuario/base.html" %}
{% load admin_static %} 

<body>

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" style="z-index: -1">
        <ol class="carousel-indicators" style="z-index: 100" >
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <img src="{% static "images/fodo_carousel.png" %}" alt="">
      <div class="carousel-inner">
        <div class="item active">
              
          <div class="container">
            <div class="carousel-caption">
                <h1>Elimina el desorden</h1>
                <p class="lead">Interfaz de correo web facil de usar, Umail permite el acceso intuitivo a la mensajería avanzanda. El portar de administración basada en navegador es rápido limpio y amplio.</p>
            </div>
          </div>
        </div>
        <div class="item">
          
          <div class="container">
            <div class="carousel-caption">
                <h1>.</h1>
                <p class="lead">Sistema que busca la interoperabilidad entre las dependencias de la UNERG para lograr facilidad y eficiencia en la elaboración, envío y recepción en los memorándums.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Otro Otro Titulo Ejemplo.</h1>
              <p class="lead">Sistema que busca la interoperabilidad entre las dependencias de la UNERG para lograr facilidad y eficiencia en la elaboración, envío y recepción en los memorándums.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Carousel
        ================================================== -->

    <!-- Monitor
        ================================================== -->
    <div class="img_oculta">
        <img src="{% static "images/monitor.png" %}" alt="">
    </div>
    <!-- Monitor
        ================================================== -->

    <!-- Noticias
        ================================================== -->
    <div class="strip strip-white" style="padding: 0px">
        <div class="container">
            {% load disminuir %}
            <table width=100%  cellpadding="10" align=center>
                <tbody>
                    <tr>
                        {% for noticia in noticias %}
                        
                        <td>
                                <strong>{{ noticia.titulo }}</strong>
                        </td>
                        {% endfor %}      

                    </tr>
                    <tr>
                        {% for noticia in noticias %}
                        
                        <td>
                                {{ noticia.texto|disminuir:200 }}
                        </td>
                        {% endfor %}      

                    </tr>         
                    <tr>
                        {% for noticia in noticias %}
                        
                        <td>

                            <p><a class="btn btn-primary" href="{% url 'detalle_noticia' noticia.id %}">Ver detalles</a></p>
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
     
        </div>
    </div>

    
<!--     <div class="strip">
        <div class="container">
            <div class"row" align=center>
                <div class="span2">
                    <img src="{% static "images/firefox.png" %}" style="margin-bottom:30px"> 
                    <img src="{% static "images/iceweasel.png" %}">

                </div>
                <div class="span2">
                    <img src="{% static "images/safari.png" %}" style="margin-bottom:30px">
                    <img src="{% static "images/opera.png" %}">
                </div>
                <div class="span2">
                    <img src="{% static "images/chrome.png" %}" style="margin-bottom:30px">
                    <img src="{% static "images/android.png" %}">
                </div>
                <div class="span4 carousel" id="testimonials">
                    <div class="item active">
                        <blockquote>
                        <p>Disponible para una larga lista de navegadores web en distintos Sistemas Operativos como lo son Google Chrome, Mozilla Firefox, Opera, Safari, entre otros.</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Noticias
        ================================================== -->

    <!-- Mision, Visión y Obejtivo
        ================================================== -->
    <div class="strip strip-white strip-grey">
        <div class="container">
            <div class="row-fluid">
                <div class="span4">
                    <div class="thumbnail" align=center>
                        <a href="/products/cloud">
                            <img src="{% static "images/deploy-cloud.png" %}">
                        </a>
                    </div>
                            
                    <h3>Misión</h3>
                    <p>Umail es un sistema comunicacional de banguardia dentro de las intituciones universitarias del país, atendiendo tanto las necesidades presentes como las tendencias y cambios de la tecnologia que confiere los memorándum del futuro.</p>
                </div>
<i class="icon-eye-open"></i>
                <div class="span4">
                    <div class="thumbnail" align=center>
                        <a href="/products/cloud">
                            <img src="{% static "images/deploy-cloud.png" %}">
                            
                        </a>
                    </div>
                    <h3>Visión</h3>
                    <p>Ser un sistema con alta tecnología y altamente productiva, con vocación de servicio comunicacional, formada constantemente por profesionales comprometidos que satisfagan sus necesidades en materia de comunicación mediante memorándum recurriendo al uso de las más diversas tecnologíasas de generación.</p>
                </div>

                <div class="span4">
                    <div class="thumbnail" align=center>
                        <a href="/products/cloud">
                            <img src="{% static "images/deploy-cloud.png" %}">
                        </a>
                    </div>
                    <h3>Objetivo</h3>
                    <p>Umail, integra la Universidad Rómulo Gallegos a través de documentos oficiales dirigidas a establecer indicaciones, recomendaciones, intrucciones o disposiciones entre departamentos, siempre comprometiendo la eficiencia, excelencia y responsabilidad de los datos.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- Misión, Visión y Objetivo
        ================================================== -->

</body>

{% include "usuario/pie.html" %}
