{% include "usuario/base.html" %}
{% load admin_static %} 


<body>

 <!-- Hero
    ================================================== -->
    <div id="hero" >
      <div id="hero-background">
        <div class="container">
          <div class="row">
            <div class="span5">
              <div class="title" style="color:#FFFFFF" >
                <h1>
                  Login</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 <!-- Hero
    ================================================== -->

 <!-- Middle
    ================================================== -->

    <div id="middle">
    <div class="strip white">
      <div class="container">

        <div class="row">
          <div class="span7 offset2">

            <fieldset>
            <legend>Portal de Usuario Umail</legend>

              <p>Los usuarios existentes pueden iniciar sesión en el portal de usuario para ver el estado de sus memos y descargar registros más recientes.</p>

            {% if mensaje %}
              <div class="alert alert-{{ tipo_mensaje }}" align=center>
                   <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>{{ expresion }}</strong>{{ mensaje }}.
              </div>
            {% endif %}

            <form method="post" action="" class="form-horizontal bsval">
            
            {% csrf_token %}
              <div class="control-group">
                <label for="clientId" class="control-label">ID del Usuario</label>
                <div class="controls">
                  <div>
                    {{ formulario.username }}
                  </div>
                </div>
              </div>

              <div class="control-group">
                <label for="pass" class="control-label">Contraseña</label>
                <div class="controls">
                  {{ formulario.password }}
                  <span class="help-inline"><a href="/portal/index/forgotpassword/">¿Ólvido su Contraseña?</a></span>
                </div>
              </div>

              <div class="form-actions" >
                <button class="btn btn-primary pull-right" type="submit">Ingresar</button>
              </div>

            </fieldset>

            </form>

          </div><!-- /.span -->


        </div><!-- /.row -->

      </div><!-- /.container -->
     </div><!-- /.strip white -->

  </div>
</body>