{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% block content %}
<h1>{% trans "View Message" %}</h1>
<dl class="message-headers">
    <dt>{% trans "Subject" %}</dt>
    <dd><strong>{{ message.subject }}</strong></dd>
    <dt>{% trans "Sender" %}</dt>
    <dd>{{ message.sender }}</dd>
    <dt>{% trans "Date" %} </dt>
    <dd>{{ message.sent_at|date:_("DATETIME_FORMAT")}}</dd>
    <dt>{% trans "Recipient" %}(s)</dt>
    {% for destin in message.recipient.get_query_set %}
        <dt>{{ destin }}</dt>
    {% endfor %}
</dl>

<dd>{{ message.body.labels }}</dd>
{{ message.body|linebreaksbr }}<br /><br />

{% for dest in message.recipient.get_query_set %}
    {% ifequal dest.pk user.pk %}
        <a href="{% url 'messages_reply' message.id %}">{% trans "Reply" %}</a>
    {% endifequal %}
{% endfor %}
<a href="{% url 'messages_delete' message.id %}">{% trans "Delete" %}</a>
{% endblock %}
