{% include "usuario/base.html" %} 

<body>
    <div class="container">
        <div class"row">
            <div class="span1">texto1</div>
            <div class="span1">texto2</div>
            <div class="span1">texto3</div>
            <div class="span1">texto4</div>
            <div class="span1">texto5</div>
            <div class="span1">texto6</div>
            <div class="span1">texto7</div>
            <div class="span1">texto8</div>
            <div class="span1">texto9</div>
            <div class="span1">texto10</div>
            <div class="span1">texto11</div>
            <div class="span1">texto12</div>
        </div>
    </div>
</body>
