#logo {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  background:/static/images/logo.png;
  width: 139px;
  height: 51px;
}
#logo:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
@media (max-width: 480px) {
.img_oculta {  display: none; }
}

#link:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#link:hover,
#link:active {
  outline: 0;
}

#link {
  color: #ffffff;
  text-decoration: none;
}

#link:hover,
#link:focus {
  color: #ffffff;
  text-decoration: underline;
}

/*#link-negro:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
*/
#link-negro {
  color: #4D4D4D;
  text-decoration: none;
  font-weight: bold;
}

#link-negro:hover,
#link-negro:focus {
  color: #2274BA;
  font-weight: bold;
}

#li-ancho{
  line-height:30px;
}

#strip-grey-degradado{
background: -webkit-linear-gradient(270deg, #F9F9F9, #fff);
background: -moz-linear-gradient(270deg, #F9F9F9, #fff);
background: -o-linear-gradient(270deg, #F9F9F9, #fff);
background: linear-gradient(270deg, #F9F9F9, #fff);
border-right: 1px solid #e5e5e5;
}

#gris{
  color: #6D6D6D;
}

#table-striped-degradado{
  background: -webkit-linear-gradient(90deg, #F9F9F9, #fff);
  background: -moz-linear-gradient(90deg, #F9F9F9, #fff);
  background: -o-linear-gradient(90deg, #F9F9F9, #fff);
  background: linear-gradient(90deg, #F9F9F9, #fff);

  border-top: 1px -webkit-linear-gradient(90deg, #F9F9F9, #fff);
  border-top: 1px -moz-linear-gradient(90deg, #F9F9F9, #fff);
  border-top: 1px -o-linear-gradient(90deg, #F9F9F9, #fff);
  border-top: 1px linear-gradient(90deg, #F9F9F9, #fff);
  }
