<div class="wrapper">
    <h1><a href="index.html" id="logo">Umail</a></h1>
    <div class="right">
        <nav>
            <ul id="top_nav">
            <li><a href="/admin">Admin Área</a></li>
            <li><a href="#">Sitemap</a></li>

            {% if request.user.is_authenticated %}
                <li><a href='/logout'>Cerrar sesión</a></li>
            </ul>
                <form id="search" method="post">
                <div>
                <input type="submit" class="submit" value="">
                <input type="text" class="input">
                </div>
                </form>
            {% endif %}
        </nav>
        <p class="error">{{ form.errors }}</p>
        <p class="error">{{ mensaje }}</p>
            {% if not request.user.is_authenticated %}
                <form method="post" action="/">
                    {% csrf_token %}
                    <div>
                        <nav>
                        <ul>

                                <tr>
                                    <td>
                                        <input type="text" placeholder="Usuario" name="username">
                                    </td>

                                    <td>
                                        <input type="password" placeholder="Contraseña" name="password">
                                        <input type="submit" class="submit" value="Entrar">
                                    </td>
                                </tr>
                        </ul>
                        </nav>
                    </div>
                </form>
            {% endif %}
    </div>
</div>
