<div class="wrapper">
    <h1><a href="index.html" id="logo">Umail</a></h1>
    <div class="right">
        <nav>
            <ul id="top_nav">
                <li><a href="/admin">Admin área</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
            <form id="search" method="post">
                <div>
                    <input type="submit" class="submit" value="">
                    <input type="text" class="input">
                </div>
            </form>
        </nav>
    </div>
</div>
