<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"es-ve" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
{% load admin_static %}{% load url from future %}{% load i18n grp_tags %}
    <a href="#"><img src="{% static "images/scroll-up-icon.png" %}" title="Ir arriba" style="position: fixed; bottom: 10px; right: 2%;" /></a>
           
        </script>

     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Umail{% endblock %}</title>
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    <!-- STYLESHEETS -->
    {% block stylesheets %}

<link rel="stylesheet" href="{% static "css/reset.css" %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static "css/layout.css" %}" type="text/css" media="all">
<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all">


<script type="text/javascript" href="{% static "js/jquery-1.4.2.js" %}" ></script>



        <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{% static "css/ajax_select.css" %}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{% static "js/ajax_select.js" %}" rel="stylesheet" type="text/javascript" media="screen" />
    {% endblock %}
    <!-- EXTRASTYLES -->
    {% block extrastyle %}{% endblock %}
    <!-- EXTRAHEAD -->
    {% block extrahead %}{% endblock %}
</head>
