<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load admin_static %}{% load url from future %}{% load i18n grp_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}Umail{% endblock %}</title>
    <meta charset="utf-8" />
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    <!-- STYLESHEETS -->
    {% block stylesheets %}
        <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{% static "css/ajax_select.css" %}" rel="stylesheet" type="text/css" media="screen" />
        <link href="{% static "js/ajax_select.js" %}" rel="stylesheet" type="text/javascript" media="screen" />
    {% endblock %}
    <!-- EXTRASTYLES -->
    {% block extrastyle %}{% endblock %}
    <!-- EXTRAHEAD -->
    {% block extrahead %}{% endblock %}
</head>
