<div id="content_left">
    <table>
        <tbody>
            <hr>
                <h2><a href='/redactar'>Redactar</a></h2>
            </hr>
            <hr>
                <h2><a href='/recibidos'>Recibidos</a></h2>
            </hr>
            <hr>
                <h2><a href='/django_messages/outbox'>Enviados</a></h2>
            </hr>
            <hr>
                <h2><a href='/django_messages/trash/'>Papelera</a></h2>
            </hr>
        </tbody>
    </table>
    <div class="content_left_section">
        <!-- NOTICIAS -->
    
    <div class="margin_bottom_20 border_bottom"></div>
    <div class="margin_bottom_20"></div>
    
    </div>   <!-- FIN DE NOTICIAS -->

    <div class="cleaner_h30">&nbsp;</div>
</div> <!-- end of content left -->
