			<!-- footer -->
	<div class="body8">
	<div class="body9">
		<div class="main">
			<footer>
				<div class="col_1">
                    <br />
				</div>
				<div class="col_2 pad_left1">
                    <br />
				</div>
				<div class="col_3">
					<a href="/" id="footer_logo">Umail</a>
					<p class="center"><a rel="nofollow" href="/" target="_blank">Sitio web</a><br>
							desarrollado por <a href=http://about.me/axelio>axelio</a> y <a href=http://about.me/f0ry>f0ry</a> </p>

					<p class="center">
							<a href="http://www.unerg.edu.ve/" target="_blank">UNERG</a><br>
							propiedad de unerg.edu.ve</p>
				</div>
			</footer>
		</div>
<!-- / footer -->
