<!-- footer -->
	<div class="body8">
	<div class="body9">
		<div class="main">
			<footer>
				<div class="col_4" align=center>
					<p><a href="/" id="footer_logo" style="margin: 15px 0 0 0">Umail</a></p>

					<p class="center"><a rel="nofollow" href="/" target="_blank">Umail</a> 1.0. Desarrollado y mantenido por <a href=http://about.me/axelio>axelio</a> y <a href=http://about.me/f0ry>f0ry</a> </p>

					<p class="center">Umail es propiedad de la <a href="http://www.unerg.edu.ve/" target="_blank">UNERG</a> y su código está desarrollado bajo la licencia <a href=http://opensource.org/licenses/GPL-3.0>GPL3</a></p>

					<p class="center">Código disponible en <a href=https://bitbucket.org/F0rY/umail>Bitbucket</a> - ¿Fallas? <a href=https://bitbucket.org/F0rY/umail/issues>Dinos cuáles son</a></p>
				</div>
			</footer>
		</div>
<!-- / footer -->
